{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}Моя страница{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/ps-baner.css' %}">
<link rel="stylesheet" href="{% static 'css/user-page.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/buttons.css' %}">
<link rel="stylesheet" href="{% static 'css/ps-tabs.css' %}">
<link rel="stylesheet" href="{% static 'css/ps-nav.css' %}">
<link rel="stylesheet" href="{% static 'css/ps-title.css' %}">
{% endblock %}

{% block content %}
<!--<div>{{ user.last_name|default:'' }} {{ user.first_name|default:'' }} {{ user.profile.patronymic|default:'' }}</div>-->
<!--<div>{{ user.profile.telephone|default:'' }}</div>-->
<!--<div>{{ user.profile.telephone|default:'' }}</div>-->
<!--<div>{{ user.profile.telephone|default:'' }}</div>-->
   <!-- Настройки профиля Хлебные крошки-->
   <section class="ps-nav">
      <div class="container">
         <!-- Хлебные крошки -->
         <nav class="breadcrumbs-container">
            <ul itemscope itemtype="#">
               <li itemprop="itemListElement" itemscope itemtype="#">
                   <a href="/" title="Личный кабинет" itemprop="item">
                       <span itemprop="name">Личный кабинет</span>
                       <meta itemprop="position" content="0">
                   </a>
               </li>
               <div class="breadcrumbs-slesh">/</div>
               <li itemprop="itemListElement" itemscope itemtype="my_page.html">
                   <a class="active" href="/profile/my_page/" title="Моя страница" itemprop="item">
                       <span itemprop="name">Моя страница</span>
                       <meta itemprop="position" content="1">
                   </a>
               </li>
           </ul>
         </nav>
      </div>
   </section>
   <!-- Настройки профиля H2 -->
   <section class="ps-title">
      <div class="container">
         <h2>Моя страница</h2>
      </div>
   </section>
{% include "layout/profile_cap.html" %}

 <!-- верификация данных -->
   <article class="my-page-verification">
      <section class="my-page-verification__wrapper">
         <div class="container">
            <div class="my-page-verification__title">
               <h3>Верификация данных</h3>
            </div>
            <div class="my-page-verification__text">
               <p>Уважаемый пользователь, для того, чтобы использовать полный
                  функционал
                  личного кабинета, пройдите, пожалуйста, верификацию. Верификация — это документальное подтверждение
                  ваших
                  личных данных. Она займет всего несколько минут.</p>
            </div>
            <a class="my-page-verification__button" href="/profile/profile_settings/personal/">Пройти верификацию</a>
         </div>
      </section>
      <section class="my-page-verification__info">
         <div class="container">
            <div class="my-page-verification__info-text">
               <p>{{user.profile.about | default:''}}</p>
               <div class="my-page-verification__foto">
                  {% if user.profile.photo1 %}
                         <img src="{{user.profile.photo1.url}}" alt="">
                         {% endif %}
                  {% if user.profile.photo2 %}
                         <img src="{{user.profile.photo2.url}}" alt="">
                         {% endif %}
                  {% if user.profile.photo3 %}
                         <img src="{{user.profile.photo3.url}}" alt="">
                         {% endif %}
                  {% if user.profile.photo4 %}
                         <img src="{{user.profile.photo4.url}}" alt="">
                         {% endif %}

               </div>
            </div>
         </div>
      </section>
   </article>
{% endblock %}