{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}Моя страница{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/ps-baner.css' %}">
<link rel="stylesheet" href="{% static 'css/my-page-verification/user-page.css' %}">
<link rel="stylesheet" href="{% static 'css/my-page-verification/my-page-list-events.css' %}">
<link rel="stylesheet" href="{% static 'css/my-page-verification/my-page-checkbox.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/buttons.css' %}">
<link rel="stylesheet" href="{% static 'css/ps-tabs.css' %}">
<link rel="stylesheet" href="{% static 'css/ps-nav.css' %}">
<link rel="stylesheet" href="{% static 'css/ps-title.css' %}">
<link rel="stylesheet" href="{% static 'css/indent.css' %}">
{% endblock %}

{% block content %}
<!--<div>{{ user.last_name|default:'' }} {{ user.first_name|default:'' }} {{ user.profile.patronymic|default:'' }}</div>-->
<!--<div>{{ user.profile.telephone|default:'' }}</div>-->
<!--<div>{{ user.profile.telephone|default:'' }}</div>-->
<!--<div>{{ user.profile.telephone|default:'' }}</div>-->
   <!-- Настройки профиля Хлебные крошки-->

   <section class="ps-nav">
      <div class="container">
         <!-- Хлебные крошки -->
         <nav class="breadcrumbs-container">
            <ul itemscope itemtype="#">
               <li itemprop="itemListElement" itemscope itemtype="#">
                   <a href="/" title="Личный кабинет" itemprop="item">
                       <span itemprop="name">Личный кабинет</span>
                       <meta itemprop="position" content="0">
                   </a>
               </li>
               <div class="breadcrumbs-slesh">/</div>
               <li itemprop="itemListElement" itemscope itemtype="my_page.html">
                   <a class="active" href="/profile/my_page/" title="Моя страница" itemprop="item">
                       <span itemprop="name">Моя страница</span>
                       <meta itemprop="position" content="1">
                   </a>
               </li>
           </ul>
         </nav>
      </div>
   </section>
   <!-- Настройки профиля H2 -->
   <section class="ps-title">
      <div class="container">
         <h2>Моя страница</h2>
      </div>
   </section>
{% include "layout/profile_cap.html" %}

 <!-- верификация данных -->
   <article class="my-page-verification">
      <section class="my-page-verification__wrapper">
         <div class="container">
            <div class="my-page-verification__title">
               <h3>Верификация данных</h3>
            </div>
            <div class="my-page-verification__text">
               <p>Уважаемый пользователь, для того, чтобы использовать полный
                  функционал
                  личного кабинета, пройдите, пожалуйста, верификацию. Верификация — это документальное подтверждение
                  ваших
                  личных данных. Она займет всего несколько минут.</p>
            </div>
            <a class="my-page-verification__button" href="/profile/profile_settings/personal/">Пройти верификацию</a>
         </div>
      </section>
      <section class="my-page-verification__info">
         <div class="container">
            <div class="my-page-verification__info-text">
               <p>{{user.profile.about | default:''}}</p>
               <div class="my-page-verification__foto">
                  {% if user.profile.photo1 %}
                         <img src="{{user.profile.photo1.url}}" alt="">
                         {% endif %}
                  {% if user.profile.photo2 %}
                         <img src="{{user.profile.photo2.url}}" alt="">
                         {% endif %}
                  {% if user.profile.photo3 %}
                         <img src="{{user.profile.photo3.url}}" alt="">
                         {% endif %}
                  {% if user.profile.photo4 %}
                         <img src="{{user.profile.photo4.url}}" alt="">
                         {% endif %}

               </div>
            </div>
         </div>
      </section>
<!--      мои мероприятия-->
         <section class="my-page-events">
            <div class="container">
               <div class="my-page-events__form">
                     <h3>Мои мероприятия</h3>
                     <div class="my-page-events__checkbox">
                        <div class="my-page-events__wrapp">
                           <div class="my-page-events__text">
                              <p>Статус <br> мероприятия</p>
                           </div>
                           <div class="my-page-events__checkbox-input">
                              <div class="my-page-events__checkbox-input-span">
                              <label><input class="label-input" type="radio"  id="myCheckOpen" name="events" value="activ"
                                    onclick="myFinish(1)" hidden><span>Активные</span>
                              </label>
                                 </div>
                              <div class="my-page-events__checkbox-input-span">
                              <label><input type="radio" id="myCheck" name="events" value="finish"
                                    onclick="myFinish(2)" hidden><span>Завершённые</span>
                              </label>
                           </div>
                           </div>
                        </div>
                        <!-- <div class="my-page-event__answer" id="textOpen" style="display:none"> -->
                        <div class="my-page-event__answer" style="display:none">
                           <p>У вас пока нет активных мероприятий</p>
                        </div>
                        <div class="my-page-event__answer" id="text" style="display:none">
                           <p>У вас пока нет завершённых мероприятий</p>
                        </div>

                        <!-- блок мероприятий -->
                        <!-- раздел мои мероприятия -->
                        <div class="my-page-list-events" id="textOpen">
                           <div class="container">
                              <div class="my-page-list-events__wrapper-block">
                                 <div class="my-page-list-events__wrapper">
                                    <div class="my-page-list-events__block">
                                       <div class="my-page-list-events__block-img">
                                          <img class="my-page-list-events__block-foto" src="/static/images/img/list-events-foto1.png" alt="">
                                          <button class="my-page-list-events__block-img-tame" type="btn"><img
                                                src="/static/images/img/Message-about-the-end-of-registration.svg"
                                                alt=""></button>
                                       </div>
                                       <div class="my-page-list-events__block-heading">
                                          <a><h4>Название мероприятия очень длинное название, которое кому-то посвящено </h4></a>
                                       </div>
                                    </div>
                                    <div class="my-page-list-events__block-info">
                                       <div class="my-page-list-events__block-info-p">
                                          <p>6 июля 2023</p>
                                       </div>

                                       <div class="my-page-list-events__block-info-p-img">
                                          <p>100 </p>
                                          <img src="/static/images/img/group_light.svg" alt="">
                                       </div>

                                    </div>
                                    <div class="my-page-list-events__block-btn">
                                       <p >Всероссийское</p>
                                       <p >Образовательное</p>
                                    </div>
                                 </div>


                                 <div class="my-page-list-events__wrapper">
                                    <div class="my-page-list-events__block">
                                       <div class="my-page-list-events__block-img">
                                          <img class="my-page-list-events__block-foto"  src="/static/images/img/list-events-foto2.png" alt="">
                                          <button class="my-page-list-events__block-img-tame" type="btn"><img
                                                src="/static/images/img/Message-about-the-end-of-registration.svg"
                                                alt=""></button>
                                       </div>
                                       <div class="my-page-list-events__block-heading">
                                          <a><h4>Название мероприятия очень длинное название, которое кому-то посвящено </h4></a>
                                       </div>
                                    </div>
                                    <div class="my-page-list-events__block-info">
                                       <div class="my-page-list-events__block-info-p">
                                          <p>6 июля 2023</p>
                                       </div>

                                       <div class="my-page-list-events__block-info-p-img">
                                          <p>100 </p>
                                          <img src="/static/images/img/group_light.svg" alt="">
                                       </div>

                                    </div>
                                    <div class="my-page-list-events__block-btn">
                                       <p >Всероссийское</p>
                                       <p >Образовательное</p>
                                    </div>
                                 </div>


                                 <div class="my-page-list-events__wrapper">
                                    <div class="my-page-list-events__block">
                                       <div class="my-page-list-events__block-img">
                                          <img class="my-page-list-events__block-foto"  src="/static/images/img/list-events-foto3.png" alt="">
                                          <button class="my-page-list-events__block-img-tame" type="btn"><img
                                                src="/static/images/img/Message-about-the-end-of-registration.svg"
                                                alt=""></button>
                                       </div>
                                       <div class="my-page-list-events__block-heading">
                                          <a><h4>Название мероприятия очень длинное название, которое кому-то посвящено </h4></a>
                                       </div>
                                    </div>
                                    <div class="my-page-list-events__block-info">
                                       <div class="my-page-list-events__block-info-p">
                                          <p>6 июля 2023</p>
                                       </div>

                                       <div class="my-page-list-events__block-info-p-img">
                                          <p>100 </p>
                                          <img src="/static/images/img/group_light.svg" alt="">
                                       </div>

                                    </div>
                                    <div class="my-page-list-events__block-btn">
                                       <p>Всероссийское</p>
                                       <p>Образовательное</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="my-page-list-events__block-open">
                                 <a href="#">Смотреть все мероприятия</a>
                              </div>

                           </div>
                        </div>
                     </div>
               </div>
            </div>
      </section>

   </article>
 <script src="/static/js/checkbox.js"></script>
{% endblock %}