{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}Профиль{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/ps-baner.css' %}">
<link rel="stylesheet" href="{% static 'css/ps-about-me.css' %}">
<link rel="stylesheet" href="{% static 'css/ps-my-photo.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/buttons.css' %}">
<link rel="stylesheet" href="{% static 'css/ps-tabs.css' %}">
<link rel="stylesheet" href="{% static 'css/ps-nav.css' %}">
<link rel="stylesheet" href="{% static 'css/ps-title.css' %}">
{% endblock %}

{% block content %}
   <!-- Настройки профиля Хлебные крошки-->
   <section class="ps-nav">
      <div class="container">
         <!-- Хлебные крошки -->
         <nav class="breadcrumbs-container">
            <ul itemscope itemtype="#">
               <li itemprop="itemListElement" itemscope itemtype="#">
                   <a href="/" title="Личный кабинет" itemprop="item">
                       <span itemprop="name">Личный кабинет</span>
                       <meta itemprop="position" content="0">
                   </a>
               </li>
               <div class="breadcrumbs-slesh">/</div>
               <li itemprop="itemListElement" itemscope itemtype="profile-settings-my-page.html">
                   <a class="active" href="/templates/profile-settings-my-page.html" title="Настройки профиля" itemprop="item">
                       <span itemprop="name">Настройки профиля</span>
                       <meta itemprop="position" content="1">
                   </a>
               </li>
           </ul>
         </nav>
      </div>
   </section>

   <!-- Настройки профиля H2 -->
   <section class="ps-title">
      <div class="container">
         <h2>Настройки профиля</h2>
      </div>
   </section>
{% include "layout/profile_cap.html" %}

 <!-- Табы  -->
        <section class="ps-tabs">
            <div class="container">
            <!--  Контейнер c вкладками   -->
            <nav class="ps__navigation">
                <ul class="ps__navigation-links-list tab-header">
                    <li data-tab-ps__navigation="1" class="ps__my-page tab-title-navigation active">
                        <a style="background: #1C5C94;color: #ffffff;" href="/profile/profile_settings/my_page/">Моя страница</a>
                    </li>
                    <li data-tab-ps__navigation="2"class="ps__personal-data tab-title-navigation">
                        <a href="/profile/profile_settings/personal/">Персональные данные</a>
                    </li>
                    <li data-tab-ps__navigation="3" class="ps__login-password tab-title-navigation">
                        <a href="/profile/profile_settings/system/">Логин и пароль</a>
                    </li>
                    <li data-tab-ps__navigation="4" class="ps__privacy-settings tab-title-navigation">
                        <a href="/profile/profile_settings/privacy/">Настройки приватности</a>
                    </li>
                </ul>
            </nav>
            </div>
        </section>
     <!-- Настрой профиля: Моя страница -->
   <!-- Настрой профиля: Моя страница: Кратко о себе -->
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
   <section class="about-me">
      <div class="container">
         <div class="wrapper">
            <!-- Форма Кратко о себе  -->
            <div id="about">
               <fieldset form="about">
                 <legend>Кратко о себе</legend>
                  <div class="textarea-wrapper">
                     <label for="about-me">Кратко о себе</label>
                     <textarea id="about-me" type="text" maxlength="400" name="about" rows="5" cols="33" spellcheck="true">{{user.profile.about | default:''}}</textarea>
                  </div>
                  <div class="counter">
                     <output form="about" for="about-me" id="about" name="counter"></output>
                     <p class="total">/400</p>
                  </div>
                  <!-- Очистить Сохранить -->
<!--                  <div class="btn__save-reset">-->
<!--                     <button form="about" type="reset">Очистить</button>-->
<!--                     <label for="about-me_save">Кратко о себе</label>-->
<!--                     <input class="btn__save" form="about" id="about-me_save" type="submit" name="about-me_save" formtarget="#" value="Сохранить">-->
<!--                  </div>-->
               </fieldset>
             </div>
         </div>
      </div>
   </section>

   <!-- Настрой профиля: Моя страница: Мои фото -->
   <section class="my_photo">
      <div class="container">
         <div class="my-photo-wrapper">
            <!-- Форма Мои фото  -->
            <div id="my_photo">
               <fieldset form="my_photo">
                  <legend>Мои фото</legend>

                  <!-- Контейнер для фото  -->
                  <div class="avatar-upload my_photo__edit">
                     <!-- Заглушка по умолчанию  -->
                     <div class="avatar-preview my_photo__plug" id="imagePreview">
                         {% if user.profile.photo1 %}
                         <img src="{{user.profile.photo1.url}}" alt="">
                         {% else %}
                         <img src="/static/images/profile-settings/my-photo-plug.png" alt="">
                         {% endif %}
                     </div>
                     <!-- Добавить фото -->
                     <div class="avatar-edit my_photo__add">
                        <label for="imageUpload">
                            <img style="cursor:pointer;" src="/static/images/icons/pen-circle.svg" alt="">
                            <input type="file" id="imageUpload" name="photo1" accept="image/*" />
                        </label>
                     </div>
                  </div>

                  <!-- Контейнер для фото  -->
                  <div class="avatar-upload my_photo__edit">
                     <!-- Заглушка по умолчанию  -->
                     <div class="avatar-preview my_photo__plug" id="imagePreview">
                         {% if user.profile.photo2 %}
                         <img src="{{user.profile.photo2.url}}" alt="">
                         {% else %}
                         <img src="/static/images/profile-settings/my-photo-plug.png" alt="">
                         {% endif %}
                     </div>
                     <!-- Добавить фото -->
                     <div class="avatar-edit my_photo__add">
                        <label for="imageUpload">
                            <img style="cursor:pointer;" src="/static/images/icons/pen-circle.svg" alt="">
                            <input type="file" id="imageUpload" name="photo2" accept="image/*" />
                        </label>
                     </div>
                  </div>

                  <!-- Контейнер для фото  -->
                  <div class="avatar-upload my_photo__edit">
                     <!-- Заглушка по умолчанию  -->
                     <div class="avatar-preview my_photo__plug" id="imagePreview">
                         {% if user.profile.photo3 %}
                         <img src="{{user.profile.photo3.url}}" alt="">
                         {% else %}
                         <img src="/static/images/profile-settings/my-photo-plug.png" alt="">
                         {% endif %}
                     </div>
                     <!-- Добавить фото -->
                     <div class="avatar-edit my_photo__add">
                        <label for="imageUpload">
                            <img style="cursor:pointer;" src="/static/images/icons/pen-circle.svg" alt="">
                            <input type="file" id="imageUpload" name="photo3" accept="image/*" />
                        </label>
                     </div>
                  </div>

                  <!-- Контейнер для фото  -->
                  <div class="avatar-upload my_photo__edit">
                     <!-- Заглушка по умолчанию  -->
                     <div class="avatar-preview my_photo__plug" id="imagePreview">
                         {% if user.profile.photo4 %}
                         <img src="{{user.profile.photo4.url}}" alt="">
                         {% else %}
                         <img src="/static/images/profile-settings/my-photo-plug.png" alt="">
                         {% endif %}
                     </div>
                     <!-- Добавить фото -->
                     <div class="avatar-edit my_photo__add">
                        <label for="imageUpload">
                            <img style="cursor:pointer;" src="/static/images/icons/pen-circle.svg" alt="">
                            <input type="file" id="imageUpload" name="photo4" accept="image/*" />
                        </label>
                     </div>
                  </div>
               </fieldset>
                  <!-- Очистить Сохранить -->
                  <div class="btn__save-reset">
<!--                  <button form="my_photo" type="reset">Очистить</button>-->
                  <label for="my_photo_save">Сохранить</label>
                  <input class="btn__save" id="my_photo_save" type="submit" name="my_photo_save" value="Сохранить">
               </div>
               </div>
         </div>
      </div>
   </section>
    </form>
   <script src="/static/js/profile/profile_settings/textarea-counter.js"></script>
   <!-- <script src="/static/js/profile/profile_settings/my-photo-upload.js"></script> -->
   <!-- <script src="/static/js/profile/profile_settings/file-upload.js"></script> -->
{% endblock %}