{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}Профиль{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/ps-baner.css' %}">
<link rel="stylesheet" href="{% static 'css/ps-about-me.css' %}">
<link rel="stylesheet" href="{% static 'css/ps-my-photo.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/buttons.css' %}">
<link rel="stylesheet" href="{% static 'css/ps-tabs.css' %}">
<link rel="stylesheet" href="{% static 'css/ps-nav.css' %}">
<link rel="stylesheet" href="{% static 'css/ps-title.css' %}">
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить изменения</button>
</form>
   <!-- Настройки профиля Хлебные крошки-->
   <section class="ps-nav">
      <div class="container">
         <!-- Хлебные крошки -->
         <nav class="breadcrumbs-container">
            <ul itemscope itemtype="#">
               <li itemprop="itemListElement" itemscope itemtype="#">
                   <a href="/" title="Личный кабинет" itemprop="item">
                       <span itemprop="name">Личный кабинет</span>
                       <meta itemprop="position" content="0">
                   </a>
               </li>
               <div class="breadcrumbs-slesh">/</div>
               <li itemprop="itemListElement" itemscope itemtype="profile-settings-my-page.html">
                   <a class="active" href="/templates/profile-settings-my-page.html" title="Настройки профиля" itemprop="item">
                       <span itemprop="name">Настройки профиля</span>
                       <meta itemprop="position" content="1">
                   </a>
               </li>
           </ul>
         </nav>
      </div>
   </section>

   <!-- Настройки профиля H2 -->
   <section class="ps-title">
      <div class="container">
         <h2>Настройки профиля</h2>
      </div>
   </section>
{% include "layout/profile_cap.html" %}

 <!-- Табы  -->
        <section class="ps-tabs">
            <div class="container">
            <!--  Контейнер c вкладками   -->
            <nav class="ps__navigation">
                <ul class="ps__navigation-links-list tab-header">
                    <li data-tab-ps__navigation="1" class="ps__my-page tab-title-navigation active">
                        <a href="/templates/ps-my-page.html">Моя страница</a>
                    </li>
                    <li data-tab-ps__navigation="2"class="ps__personal-data tab-title-navigation">
                        <a href="/templates/ps-personal-data.html">Персональные данные</a>
                    </li>
                    <li data-tab-ps__navigation="3" class="ps__login-password tab-title-navigation">
                        <a href="/templates/ps-p-change.html">Логин и пароль</a>
                    </li>
                    <li data-tab-ps__navigation="4" class="ps__privacy-settings tab-title-navigation">
                        <a href="/templates/ps-settings.html">Настройки приватности</a>
                    </li>
                </ul>
            </nav>
            </div>
        </section>
     <!-- Настрой профиля: Моя страница -->
   <!-- Настрой профиля: Моя страница: Кратко о себе -->
   <section class="about-me">
      <div class="container">
         <div class="wrapper">
            <!-- Форма Кратко о себе  -->
            <form id="about" action="textarea.php" enctype="multipart/form-data" method="post">
               <fieldset form="about">
                 <legend>Кратко о себе</legend>
                  <div class="textarea-wrapper">
                     <label for="about-me">Кратко о себе</label>
                     <textarea form="about" id="about-me" type="text" maxlength="400" name="about-me" rows="5" cols="33" spellcheck="true" wrap="hard">
                     </textarea>
                  </div>
                  <div class="counter">
                     <output form="about" for="about-me" id="about" name="counter"></output>
                     <p class="total">/400</p>
                  </div>
                  <!-- Очистить Сохранить -->
                  <div class="btn__save-reset">
                     <button form="about" type="reset">Очистить</button>
                     <label for="about-me_save">Кратко о себе</label>
                     <input class="btn__save" form="about" id="about-me_save" type="submit" name="about-me_save" formtarget="#" value="Сохранить">
                  </div>
               </fieldset>
             </form>
         </div>
      </div>
   </section>

   <!-- Настрой профиля: Моя страница: Мои фото -->
   <section class="my_photo">
      <div class="container">
         <div class="my-photo-wrapper">
            <!-- Форма Мои фото  -->
            <form id="my_photo" action="my_photo.php" enctype="multipart/form-data" method="post">
               <fieldset form="my_photo">
                  <legend>Мои фото</legend>

                  <!-- Контейнер для фото  -->
                  <div class="avatar-upload my_photo__edit">
                     <!-- Заглушка по умолчанию  -->
                     <div class="avatar-preview my_photo__plug" id="imagePreview">
                        <img src="/static/images/profile-settings/my-photo-plug.png" alt="">
                     </div>
                     <!-- Добавить фото -->
                     <div class="avatar-edit my_photo__add">
                        <label for="my_photo_add"><img src="/static/images/icons/pen-circle.svg" alt=""></label>
                        <input form="my_photo" type="file" id="imageUpload" name="my_photo_add" accept=".png, .jpg, .jpeg" />
                     </div>
                  </div>

                  <!-- Контейнер для фото  -->
                  <div class="avatar-upload my_photo__edit">
                     <!-- Заглушка по умолчанию  -->
                     <div class="avatar-preview my_photo__plug" id="imagePreview">
                        <img src="/static/images/profile-settings/album1-14.jpg" alt="">
                     </div>
                     <!-- Добавить фото -->
                     <div class="avatar-edit my_photo__add">
                        <label for="my_photo_add"><img src="/static/images/icons/pen-circle.svg" alt=""></label>
                        <input form="my_photo" type="file" id="imageUpload" name="my_photo_add" accept=".png, .jpg, .jpeg" />
                     </div>
                  </div>

                  <!-- Контейнер для фото  -->
                  <div class="avatar-upload my_photo__edit">
                     <!-- Заглушка по умолчанию  -->
                     <div class="avatar-preview my_photo__plug" id="imagePreview">
                        <img src="/static/images/profile-settings/album1-15.jpg" alt="">
                     </div>
                     <!-- Добавить фото -->
                     <div class="avatar-edit my_photo__add">
                        <label for="my_photo_add"><img src="/static/images/icons/pen-circle.svg" alt=""></label>
                        <input form="my_photo" type="file" id="imageUpload" name="my_photo_add" accept=".png, .jpg, .jpeg" />
                     </div>
                  </div>

                  <!-- Контейнер для фото  -->
                  <div class="avatar-upload my_photo__edit">
                     <!-- Заглушка по умолчанию  -->
                     <div class="avatar-preview my_photo__plug" id="imagePreview">
                        <img src="/static/images/profile-settings/my-photo-plug.png" alt="">
                     </div>
                     <!-- Добавить фото -->
                     <div class="avatar-edit my_photo__add">
                        <label for="my_photo_add"><img src="/static/images/icons/pen-circle.svg" alt=""></label>
                        <input form="my_photo" type="file" id="imageUpload" name="my_photo_add" accept=".png, .jpg, .jpeg" />
                     </div>
                  </div>
               </fieldset>
                  <!-- Очистить Сохранить -->
                  <div class="btn__save-reset">
                  <button form="my_photo" type="reset">Очистить</button>
                  <label for="my_photo_save">Сохранить</label>
                  <input class="btn__save" form="my_photo" id="my_photo_save" type="submit" name="my_photo_save" formtarget="#" value="Сохранить">
               </div>
               </form>
         </div>
      </div>
   </section>
   <script src="/static/js/profile/profile_settings/textarea-counter.js"></script>
   <!-- <script src="/static/js/profile/profile_settings/my-photo-upload.js"></script> -->
   <!-- <script src="/static/js/profile/profile_settings/file-upload.js"></script> -->
{% endblock %}