{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}Настройка приватности профиля{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/privacy-settings.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
{% endblock %}

{% block content %}
   <!-- <section class="profile-settings">
      <div class="container">
        &lt;!&ndash;  Контейнер c вкладками   &ndash;&gt;
        <nav class="ps__navigation">
          <ul class="ps__navigation-links-list tab-header">
            <li
              data-tab="my-page"
              class="ps__my-page tab-title-navigation active"
            >
              Моя страница
            </li>
            <li
              data-tab="personal-data"
              class="ps__personal-data tab-title-navigation"
            >
              Персональные данные
            </li>
            <li
              data-tab="login-password"
              class="ps__login-password tab-title-navigation"
            >
              Логин и пароль
            </li>
            <li
              data-tab="private-settings"
              class="ps__privacy-settings tab-title-navigation"
            >
              Настройки приватности
            </li>
          </ul>
        </nav>
      </div>
    </section>-->

<!--  <form method="post" enctype="multipart/form-data">-->
<!--    {% csrf_token %}-->
<!--    <h4>Кто видит мой номер телефона</h4>-->
<!--    {{form.privacy_telephone}}-->
<!--    <h4>Кто видит мою электронную почту</h4>-->
<!--    {{form.privacy_email}}-->
<!--    <h4>Кто видит мои ссылки на соцсети</h4>-->
<!--    {{form.privacy_social}}-->
<!--    <h4>Кто видит информацию обо мне</h4>-->
<!--    {{form.privacy_about}}-->
<!--    <h4>Кто видит мои фотографии</h4>-->
<!--    {{form.privacy_photo}}-->
<!--    <button type="submit">Сохранить</button>-->
<!--  </form>-->
    <section class="profile-settings">
          <div class="container">
             <div class="profile-settings__drop-down-list">
                <form class="profile-settings__form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                   <!-- Выподающий список кто видит мой номер телефона-->
                   <div class="profile-settings__select-wrapper">
                      <h4 class="profile-settings__title">Кто видит мой номер телефона</h4>
                       {{form.privacy_telephone}}
                   </div>
                   <!-- Выподающий список кто видит мою электронную почту-->
                   <div class="profile-settings__select-wrapper">
                      <h4 class="profile-settings__title">Кто видит мою электронную почту</h4>
                      {{form.privacy_email}}
                   </div>
                   <!-- выподающий список кто видит мои ссылки на соцсети -->
                   <div class="profile-settings__select-wrapper">
                      <h4 class="profile-settings__title">Кто видит мои ссылки на соцсети</h4>
                      {{form.privacy_social}}
                   </div>
                   <!-- выподающий список кто видит информацию обо мне -->
                   <div class="profile-settings__select-wrapper">
                      <h4 class="profile-settings__title">Кто видит информацию обо мне</h4>
                      {{form.privacy_about}}
                   </div>

                   <!-- выподающий список кто видит мои фото -->
                   <div class="profile-settings__select-wrapper">
                      <h4 class="profile-settings__title">Кто видит мои фотографии</h4>
                      {{form.privacy_photo}}
                   </div>

                    <div class="profile-settings__button">
                   <button class="profile-settings__btn btn__save profile-settings__link" type="submit">Сохранить</button>
                    </div>
                 </form>
                <!-- кнопка отправка формы -->


             </div>
          </div>
    </section>


  <script src="{% static 'js/script-tabs.js' %}"></script>
  <script src="{% static 'js/accardions.js' %}"></script>
  <script src="{% static 'js/upload.js' %}"></script>
  <script src="{% static 'js/dropdown.js' %}"></script>
  <script src="{% static 'js/counter.js' %}"></script>
  <script src="{% static 'js/add-field.js' %}"></script>

{% endblock %}