<!DOCTYPE html>
<html lang="ru">

   <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Подключаем шрифты Akrobat -->
        <link rel="stylesheet" href="/static/fonts/akrobat/otf/stylesheet.css">
        <link rel="stylesheet" href="/static/fonts/akrobat/ttf/stylesheet.css">
        <link rel="stylesheet" href="/static/fonts/akrobat/web/stylesheet.css">
        <!-- Подключаем шрифты BertSans -->
        <link rel="stylesheet" href="/static/fonts/bertsans/ttf/stylesheet.css">
        <!-- Подключаем шрифты Inter -->
        <link rel="stylesheet" href="/static/fonts/inter/ttf/stylesheet.css">
        <!-- Подключаем шрифты Verdana -->
        <link rel="stylesheet" href="/static/fonts/verdana/ttf/stylesheet.css">
        <!-- Подключаем стили -->
        <!-- Стили Табов -->
        <link rel="stylesheet" href="/static/css/ps-tabs.css">
        <link rel="stylesheet" href="/static/css/base.css">
        <!-- Подключаем библиотеки -->
        <title>Вход в личный кабинет</title>
   </head>

    <body>

        <!-- Табы  -->
        <section class="ps-tabs">
            <div class="container">
            <!--  Контейнер c вкладками   -->
            <nav class="ps__navigation">
                <ul class="ps__navigation-links-list tab-header">
                    <li data-tab-ps__navigation="1" class="ps__my-page tab-title-navigation active">
                        <a href="/templates/ps-my-page.html">Моя страница</a>
                    </li>
                    <li data-tab-ps__navigation="2"class="ps__personal-data tab-title-navigation">
                        <a href="/templates/ps-personal-data.html">Персональные данные</a>
                    </li>
                    <li data-tab-ps__navigation="3" class="ps__login-password tab-title-navigation">
                        <a href="/templates/ps-p-change.html">Логин и пароль</a>
                    </li>
                    <li data-tab-ps__navigation="4" class="ps__privacy-settings tab-title-navigation">
                        <a href="/templates/ps-settings.html">Настройки приватности</a>
                    </li>
                </ul>
            </nav>
            </div>
        </section>
        <script src="/static/js/profile/profile_settings/script-tabs.js"></script>
    </body>
</html>