{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}Профиль{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/ps-baner.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/buttons.css' %}">
<link rel="stylesheet" href="{% static 'css/ps-nav.css' %}">
<link rel="stylesheet" href="{% static 'css/ps-title.css' %}">
 <link rel="stylesheet" href="{% static 'css/data-verification.css' %}">
{% endblock %}

{% block content %}

   <!-- Настройки профиля Хлебные крошки-->
   <section class="ps-nav">
      <div class="container">
         <!-- Хлебные крошки -->
         <nav class="breadcrumbs-container">
            <ul itemscope itemtype="#">
               <li itemprop="itemListElement" itemscope itemtype="#">
                   <a href="/" title="Личный кабинет" itemprop="item">
                       <span itemprop="name">Личный кабинет</span>
                       <meta itemprop="position" content="0">
                   </a>
               </li>
               <div class="breadcrumbs-slesh">/</div>
               <li itemprop="itemListElement" itemscope itemtype="profile-settings-my-page.html">
                   <a class="active" href="/templates/profile-settings-my-page.html" title="Настройки профиля" itemprop="item">
                       <span itemprop="name">Настройки профиля</span>
                       <meta itemprop="position" content="1">
                   </a>
               </li>
           </ul>
         </nav>
      </div>
   </section>

   <!-- Настройки профиля H2 -->
   <section class="ps-title">
      <div class="container">
         <h2>Моя страница</h2>
      </div>
   </section>
{% include "layout/profile_cap.html" %}
   <!-- верификация данных -->
   <section class="my-page-data-verification__wrapper">
      <div class="container">
          <div class="my-page-data-verification__info">
             <div class="my-page-data-verification__title">
                <h3 class="my-page-data-verification__heading">Верификация данных</h3>
             </div>
             <div class="my-page-data-verification__text">
                <p class="my-page-data-verification__subtitle">Уважаемый пользователь, для того, чтобы использовать полный
                   функционал
                   личного кабинета, пройдите, пожалуйста, верификацию. Верификация — это документальное подтверждение ваших
                   личных данных. Она займет всего несколько минут.</p>
             </div>
             <button class="my-page-data-verification__button"><a href="#">Пройти верификацию</a></button>
          </div>
      </div>
   </section>
{% endblock %}