{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}Профиль{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/ps-baner.css' %}">

<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/buttons.css' %}">
<link rel="stylesheet" href="{% static 'css/ps-tabs.css' %}">
<link rel="stylesheet" href="{% static 'css/ps-nav.css' %}">
<link rel="stylesheet" href="{% static 'css/ps-title.css' %}">
<link rel="stylesheet" href="{% static 'css/verification.css' %}">
{% endblock %}
{% block content %}

   <!-- Настройки профиля Хлебные крошки-->
   <section class="ps-nav">
      <div class="container">
         <!-- Хлебные крошки -->
         <nav class="breadcrumbs-container">
            <ul itemscope itemtype="#">
               <li itemprop="itemListElement" itemscope itemtype="#">
                   <a href="/" title="Личный кабинет" itemprop="item">
                       <span itemprop="name">Личный кабинет</span>
                       <meta itemprop="position" content="0">
                   </a>
               </li>
               <div class="breadcrumbs-slesh">/</div>
               <li itemprop="itemListElement" itemscope itemtype="profile-settings-my-page.html">
                   <a class="active" href="/templates/profile-settings-my-page.html" title="Настройки профиля" itemprop="item">
                       <span itemprop="name">Настройки профиля</span>
                       <meta itemprop="position" content="1">
                   </a>
               </li>
           </ul>
         </nav>
      </div>
   </section>
   <!-- Настройки профиля H2 -->
   <section class="ps-title">
      <div class="container">
         <h2>Моя страница</h2>
      </div>
   </section>
{% include "layout/profile_cap.html" %}

   <!-- верификация данных -->
   <article class="my-page-verification">
      <section class="my-page-verification__wrapper">
         <div class="container">
            <div class="my-page-verification__title">
               <h3>Верификация данных</h3>
            </div>
            <div class="my-page-verification__text">
               <p >Уважаемый пользователь, для того, чтобы использовать полный
                  функционал
                  личного кабинета, пройдите, пожалуйста, верификацию. Верификация — это документальное подтверждение
                  ваших
                  личных данных. Она займет всего несколько минут.</p>
            </div>
            <a class="my-page-verification__button" href="#">Пройти верификацию</a>
         </div>
      </section>
      <section class="my-page-verification__info">
         <div class="container">
            <div class="my-page-verification__info-text">
               <p>Привет! Меня зовут Светлана. Я учусь в университете, ищу красоту в
                  каждом дне. Люблю читать книги,
                  путешествовать в исторические эпохи и мечтать. Вдохновляюсь природой и музыкой, которые заставляют
                  меня
                  радоваться и наполняют энергией. Стремлюсь быть сильной и одновременно доброй, готова поддержать и
                  поделиться радостью.</p>
               <div class="my-page-verification__foto">
                  <img src="/static/images/img/my-page-verification-1.png" alt="foto">
                  <img src="/static/images/img/my-page-verification-2.png" alt="foto">
                  <img src="/static/images/img/my-page-verification-3.png" alt="foto">
                  <img src="/static/images/img/my-page-verification-4.png" alt="foto">
               </div>
            </div>
         </div>
      </section>
   </article>
{% endblock %}