 {% extends 'layout/basic.html' %}
{% load static %}
{% block title %}Настройка приватности профиля{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/my-page-baner.css' %}">
<link rel="stylesheet" href="{% static 'css/my-page-verification.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
{% endblock %}

{% block content %}
        <!-- Настройки профиля -->
     <section class="profile-settings-top">
      <div class="container">
         <!-- Хлебные крошки -->
         <div class="breadcrumbs-container">
            <ul itemscope itemtype="#">
               <li itemprop="itemListElement" itemscope itemtype="#">
                   <a href="/" title="Личный кабинет" itemprop="item">
                       <span itemprop="name">Личный кабинет</span>
                       <meta itemprop="position" content="0">
                   </a>
               </li>
               <div class="breadcrumbs-slesh">/</div>
               <li itemprop="itemListElement" itemscope itemtype="profile-settings-my-page.html">
                   <a class="active" href="/templates/profile-settings-my-page.html" title="Настройки профиля" itemprop="item">
                       <span itemprop="name">Настройки профиля</span>
                       <meta itemprop="position" content="1">
                   </a>
               </li>
           </ul>
         </div>
        <div class="ps__title">
            <h2 class="ps__title-h2">Настройки профиля</h2>
        </div>
        <!-- Баннер с данными пользователя -->
         <div class="user-metric">
            <div class="user-metric__top">
               <div class="user-metric__top-img-wrapper">
                  <img src="/static/images/profile-settings/album1-15.jpg" alt="">
                  <!-- Заглушка -->
                  <!-- <img src="/static/images/plug-bg.png" alt=""> -->
               </div>
            </div>
            <!-- Иконки редактирования банер -->
            <div class="user-metric__baner-add">
               <!--Иконка Добавить аватар -->
               <!-- <img src="/static/images/icons/plus.svg" alt=""> -->
               <!-- Иконка Изменить аватар  -->
               <img src="/static/images/icons/pen-circle.svg" alt="">
            </div>
            <div class="user-metric__avatar-wrapper">
               <div class="user-metric__avatar">
                  <!-- Аватар пользователя  -->
                  <img src="/static/images/profile-settings/album1-4.jpg" alt="">
                  <!-- Иконка по умолчанию -->
                  <!-- <img src="/static/static/images/icons/user-circle.svg" alt=""> -->
               </div>
                <!-- Иконки редактирования аватар -->
                <div class="user-metric__avatar-add">
                  <!--Иконка Добавить аватар -->
                  <!-- <img src="/static/images/icons/plus.svg" alt=""> -->
                  <!-- Иконка Изменить аватар  -->
                  <img src="/static/images/icons/pen-circle.svg" alt="">
               </div>
            </div>
            <div class="user-metric__bottom">
               <!-- Данные пользователя  -->
               <div class="user-data__wrapper">
                  <div class="user-data__name">
                     <h4>Иванова Светлана Ивановна</h4>
                  </div>
                  <div class="user-data__list-wrapper">
                     <ul class="user-data__list">
                        <li class="user-data__title"><p>Кандидат</p></li>
                        <li class="user-data__regional-office"><p>Карачаево-Черкесское региональное отделение</p></li>
                        <li class="user-data__faculty"><p>Филологический</p></li>
                        <li class="user-data__profession"><p>Учитель русского языка и литературы</p></li>
                        <li class="user-data__course"><p>Курс 2</p></li>
                        <li class="user-data__introductions">
                           <p>Дата вступления в РСО</p>
                           <img src="/static/images/icons/calendar.svg" alt="">
                           <time datetime="2022-09-10">10.09.2022</time>
                        </li>
                     </ul>
                  </div>
                  <!-- Контакты пользователя  -->
                  <div class="user-data__contacts-wrapper">
                     <!-- ссылки на соцсети -->
                     <div class="user-data__social-network">
                        <div class="user-data__link-vk">
                           <a href="https://vk.com" target="_blank">
                              <img src="/static/images/icons/vk-blue.svg">
                           </a>
                        </div>
                        <div class="user-data__link-telegram">
                           <a href="https://t.me" target="_blank">
                              <img src="/static/images/icons/telegram-blue.svg" alt="">
                           </a>
                        </div>
                        <div class="user-data__link-share-link">
                           <a href="#" target="_blank">
                              <img src="/static/images/icons/to-share-link.svg" alt="">
                           </a>
                        </div>
                     </div>
                     <!-- Телефон, почта пользователя -->
                     <div class="user-data__personal-contacts">
                        <div class="user-data__phone">
                           <img src="/static/images/icons/phone.svg" alt="">
                           <a href="tel:+79999999999">+ 7 (999) 999 99 99</a>
                        </div>
                        <div class="user-data__mail">
                           <img src="/static/images/icons/envelope.svg" alt="">
                           <a href="mailto:lichnaua.pochta@mail.ru">lichnaua.pochta@mail.ru</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

    <section class="profile-settings">
      <div class="container">
        <!--  Контейнер c вкладками   -->
        <nav class="ps__navigation">
          <ul class="ps__navigation-links-list tab-header">
            <li
              data-tab="my-page"
              class="ps__my-page tab-title-navigation active"
            >
              Моя страница
            </li>
            <li
              data-tab="personal-data"
              class="ps__personal-data tab-title-navigation"
            >
              Персональные данные
            </li>
            <li
              data-tab="login-password"
              class="ps__login-password tab-title-navigation"
            >
              Логин и пароль
            </li>
            <li
              data-tab="private-settings"
              class="ps__privacy-settings tab-title-navigation"
            >
              Настройки приватности
            </li>
          </ul>
        </nav>
      </div>
    </section>
  <article class="my-page-verification">
      <section class="my-page-verification__wrapper">
         <div class="container">
            <div class="my-page-verification__title">
               <h3>Верификация данных</h3>
            </div>
            <div class="my-page-verification__text">
               <p >Уважаемый пользователь, для того, чтобы использовать полный
                  функционал
                  личного кабинета, пройдите, пожалуйста, верификацию. Верификация — это документальное подтверждение
                  ваших
                  личных данных. Она займет всего несколько минут.</p>
            </div>
            <button class="my-page-verification__button"><a href="#">Пройти верификацию</a></button>
         </div>
      </section>
      <section class="my-page-verification__info">
         <div class="container">
            <div class="my-page-verification__info-text">
               <p>Привет! Меня зовут Светлана. Я учусь в университете, ищу красоту в
                  каждом дне. Люблю читать книги,
                  путешествовать в исторические эпохи и мечтать. Вдохновляюсь природой и музыкой, которые заставляют
                  меня
                  радоваться и наполняют энергией. Стремлюсь быть сильной и одновременно доброй, готова поддержать и
                  поделиться радостью.</p>
               <div class="my-page-verification__foto">
                  <img src="{% static 'images/img/my-page-verification-1.png' %}" alt="foto">
                  <img src="{% static 'images/img/my-page-verification-2.png' %}" alt="foto">
                  <img src="{% static 'images/img/my-page-verification-3.png' %}" alt="foto">
                  <img src="{% static 'images/img/my-page-verification-4.png' %}" alt="foto">
               </div>
            </div>
         </div>
      </section>
   </article>