@media (max-width: 1439px) {
     a:not([href]):not([class]), a:not([href]):not([class]):hover {
        color: #ffffff;
    }
    .input-big {
        width: 100%;
    }

    .input-full {
        width: 100%;
    }

    .data-form {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 80px;
    }

    .parents-about {
         grid-column-gap: 80px;
    }

    .izm {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 80px;
    }

    #no-passport-parent {
        column-gap: 80px;
    }
    #no-passport {
        column-gap: 80px;
    }
}

@media (max-width: 1023px) {

    .input-big {
        width: 386px;
    }

    .input-small {
        width: 386px;
    }

    .select-big {
        width: 386px;
    }

    .select-small {
        width: 386px;
    }

    .data-form {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
    }

    .parents-about {
         grid-column-gap: 40px;
    }

    .izm {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
    }

    #no-passport-parent {
        column-gap: 40px;
    }
    #no-passport {
        column-gap: 40px;
    }
    .pass-details__wrapper {
        flex-direction: column;
    }

    .other-docs__wrapper {
        grid-template-columns: none;
    }

    .small-svg svg {
      position: absolute;
    right: 2rem;
    top: 2.4rem;
    cursor: pointer;
    }
}

@media (max-width: 991px) {
    .input-big {
        width: 290px;
    }

    .input-small {
        width: 290px;
    }

    .input-full {
        width: 100%;
    }

    .select-big {
        width: 290px;
    }

    .select-small {
        width: 290px;
    }

    .data-form {
        grid-column-gap: 30px;
    }

    .parents-about {
         grid-column-gap: 30px;
    }

    .izm {
        grid-column-gap: 30px;
    }

    #no-passport-parent {
        column-gap: 30px;
    }
    #no-passport {
        column-gap: 30px;
    }
    .pass-details__wrapper {
        flex-direction: column;
    }

      .RSO-title {
        font-size: 20px;
        width: 100%;
    }

    .other-docs__wrapper {
        grid-template-columns: none;
    }
}

@media (max-width: 767px) {
    .input-big {
        width: 100%;
    }
    .accordion-button {
        font-size: 20px;
    }

    .form-field label {
        font-size: 12px;
    }
    .input-small {
        width: 100%;
    }

    .input-full {
        width: 100%;
    }

    .select-big {
        width: 100%;
    }

    .select-small {
        width: 100%;
    }

    .parents-wrapper__title {
        text-align: center;
        font-size: 18px;
    }

    .izm {
        grid-template-columns: none;
        align-items: end;
    }

    #no-passport-parent {
        column-gap: 40px;
    }
    #no-passport {
        column-gap: 40px;
    }
    .pass-details__wrapper {
        flex-direction: column;
    }

    .other-docs__wrapper {
        grid-template-columns: none;
    }

    .RSO-title {
        font-size: 17px;
        width: 100%;
    }

    .dowmload-all {
        display: none;
    }

    .blanks-wrapper {
        grid-template-columns: none;
    }

    .statement-title {
        font-size: 14px;
        width: 100%;
    }


    .accordion-block-title {
        font-size: 18px;
    }

    .docs {
        grid-template-columns: 1fr;
    }

    .checkbox {
        font-size: 14px;
    }



    .checkbox-title {
        font-size: 14px;
        margin-bottom: 12px;
    }

    .right-check {
        margin-left: 8px;
    }

    input[type="radio"] {
        width: 15px;
        height: 12px;
    }

    .nav-prev, .nav-next {
        padding: 12px 25px 12px 25px;
    }

    .add-education {
        font-size: 14px;
        margin: 10px auto;
    }

    .statement-item p, .statement-item a {
        font-size: 12px;
    }

    .download-blanks .file-choose {
        font-size: 14px;
    }

    .education-wrapper {
        column-gap: 15px;
    }
}

@media (max-width: 575px) {
    .container {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }
.accordion-title {
    text-align: center;
    font-size: 18px;
}
.accordion-button {
    font-size: 16px;
}
    .data-form {
        display: block;
        padding: 25px;
    }

    .form-field label {
        font-size: 12px;
    }
    .parents-about {
        grid-template-columns: none;
         grid-column-gap: 20px;
    }
    .izm {
        grid-template-columns: none;
        grid-column-gap: 20px;
    }
    #no-passport-parent {
        column-gap: 20px;
    }
    #no-passport {
        column-gap: 20px;
    }
    .add-education {
        font-size: 12px;
    }

    .small {
        margin-top: 20px;
    }

    .checkbox {
        margin-bottom: 20px;
    }

    .checkbox-title {
        font-size: 14px;
    }
    .statement-wrapper {
        flex-wrap: wrap;
    }

    .rso-question {
        margin: 30px auto;
        /*width: 100%;*/
        padding: 0px;
    }

      .rso-question__title {
        text-align: center;
    }

    #check-RSO {
      text-align: center;
    }

    .addres {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .RSO-title {
        margin-bottom: 28px;
    }
    .agree-check p {
        margin-left: 10px;
        font-size: 12px;
    }
}