/* Border */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  }

body {
  margin: 0;
  font-family: 'BertSans', sans-serif;
  font-family: 'Akrobat', sans-serif;
  font-family: 'inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

h2 {
  /* Desktop/H-2 */
  font-family: 'Akrobat';
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #35383F;
}

p {
  /* text */
  font-family: 'BertSans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #35383F;
}

a {
  /* link */
  font-family: 'BertSans';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* text-decoration-line: underline; */
}

input {
  outline: none;
}

::placeholder {
  color: #898989;
  font-family: 'BertSans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

button {
  border: none;
}

button a {
  color: #ffffff;
  /* button_text */
  font-family: 'BertSans';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
}

/* .form-field {
  position: relative;
  display: flex;
  flex-direction: column;
} */

/* .form-field input {
  border: 2px solid #a3a3a3;
  border-radius: 10px;
  display: block;
  font-size: 12px;
  padding: 10px 0px 10px 16px;
  width: 388px;
} */

/* .form-field input:focus {
  outline: 0;
} */

/* .form-field.success input {
  border-color: green;
} */

/* .form-field.error input {
  border-color: red;
}

.form-field .error {
  color: red;
  font-size: 11px;
  height: 18px;
}

.form__wrapper {
  display: flex;
  justify-content: flex-end;
}

.form__title {
  font-weight: bold;
  margin-bottom: 40px;
} */