/* Border */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  }

body {
  margin: 0;
  font-family: 'BertSans', sans-serif;
  font-family: 'Akrobat', sans-serif;
  font-family: 'inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
}

/* Форма входа пользователя */
.body-forms {
  background-color: #D1D5D8;
}

.user-login {
  /* min-height: 100vh; */
  /* margin: 0; */
  /* margin-top: 72px; */
  background-image: url(/static/images/user-login-bg.jpg);
  /* min-height: 734px; */
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.user-login__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.user-login__form-wrapper {
  background-color: #ffffff;
  max-width: 580px;
  min-height: 534px;
  border-radius: 10px;
  /* плашка */
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  margin: 100px 0;
}

.user-login__form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px; /*384px - текст не убирается в такую ширину*/
  height: 354px;
  padding: 90px 90px;
}

.user-login__title {
  margin-bottom: 40px;
}

.user-login__title h2 {
  text-align: left;
  color: #35383F;
    /* Desktop/H-2 */
  font-family: 'Akrobat';
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Преложение создать аккаунт */
.user-login__question-register {
  display: flex;
  margin-bottom: 20px;
}

.user-login__question-register P {
  color:  #35383F;
  text-decoration: none;
  margin-right: 8px;
  /* text */
  font-family: 'BertSans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.user-login__question-register a {
  color: #35383F;
  /* link */
  font-family: 'BertSans';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

/* Сообщение о неверно введенном логине или пароле  */
.user-login__invalid-password {
  margin-bottom: 20px;
}

.user-login__invalid-password p {
  color: #DB0000;
  /* хлебные_крошки */
  font-family: 'Akrobat';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Форма входа */
.user-login__form-entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.user-login__input-box {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 40px;
}

.user-login__input-box img {
  position: absolute;
  float: right;
  right: 16px;
  top: 23%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  /*Эти стили будем использовать, 
  если иконки fontawesome не подойдут 
  и придётся использовать иконки из макета в формате svg*/
}

/* Стилизация input -ов */
.user-login__input-login,
.user-login__input-password {
  border: 1px solid #A3A3A3;
  border-radius: 10px;
  width: 100%;
  min-height: 40px;
  text-indent: 16px;
}

.user-login__input-login {
  margin-bottom: 8px;
}

.user-login__input-login:focus,
.user-login__input-password:focus {
  outline: none;
}

/* Стилизация placeholder  */
.user-login__input-login::placeholder,
.user-login__input-password::placeholder {
  text-overflow: ellipsis;
  padding: 10px 0;
  opacity: 1; transition: opacity 0.3s ease;
    /*  */
  color: #898989;
  font-family: 'BertSans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.user-login__input-login:focus::placeholder,
.user-login__input-password:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Кнопка Войти */
.user-login__button-enter {
  display: block;
  box-sizing: border-box;
  width: 113px;
  min-height: 52px;
  border-radius: 10px;
  background: #39BFBF;
  border: none;
  outline: none;
  /*  */
  word-wrap: break-word;
  color: #ffffff;
  padding: 16px 32px;
  /* button_text */
  font-family: 'BertSans';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}

/* Предложение восстановить пароль */
.user-login__question-recover {
  display: flex;
  justify-content: center;
}

.user-login__question-recover p {
  color: #35383F;
  margin-right: 8px;
    /* text */
  font-family: 'BertSans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.user-login__question-recover a {
  color: #35383F;
  /* link */
  font-family: 'BertSans';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}