/* header */
.header {
  background-color: #fff;
  border-bottom: 1px solid  #D9D9D9;
}

.header__body-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 58px;
  padding: 15px 0;
}

/* Логотипы */
.header__logo {
  display: flex;
  justify-content: space-between;
  width: 146px;
}


.header__logo-rco {
    display: flex;
    align-items: center;
    width: 60px;
    height: 56px;
}

.header__logo-rco img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.header__logo-labor-cool {
    display: flex;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.header__logo-labor-cool img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

nav.navigation-desktop,
nav.navigation-user,
ul.nav-desktop,
ul.nav-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

ul.nav-desktop li {
  padding: 0 16px;
}

ul.nav-desktop li a {
  display: block;
  text-decoration: none;
  color: #35383F;
  /* Footer */
  font-family: 'BertSans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

ul.nav-desktop li a:hover {
  color: #46EBEB;
}

/* Юзер меню */
/* ul.nav-user, */
nav.navigation-user {
  display: flex;
  /* max-width: 383px; */
  width: 383px;
}

/* Иконка местоположение 360px*/
li.regional-dot {
  display: none;
}

/* Счётчик заявок */
li.application-count {
  display: flex;
  margin-right: 5px;
  cursor: pointer;
  margin-right: 47px;
}

li.application-count a {
  display: block;
}

li.application-count {
  width: 36px;
  height: 36px;
  color: #35383F;
}

li.application-count img {
  width: 100%;
  height: 100%;
  color: #35383F;
}

.quantity {
  position: absolute;
  margin: 0 0 23px 17px;
}

.quantity p {
  position: relative;
  padding: 1px 2px;
  background-color: #ffffff;
  text-align: center;
  font-family: 'Akrobat';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #DB0000;
}

/* Региональное отделение */
.nav-user li.regional-office {
  max-width: 170px;
  margin-right: 47px;
}

.nav-user li.regional-office p a {
  display: block;
  text-decoration: none;
  /*  */
  color: #35383F;
  text-align: center;
  font-family: 'BertSans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-user li.regional-office p a:hover {
  color: #46EBEB;
}

/* Выпадающее Меню пользователя */
li.dropdown {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
}

/* Иконка Пользователя */
li.dropdown .user-icon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  color: #35383F;
  margin-right: 12px;
}

li.dropdown .user-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* Иконка Раскрыть меню */
button.drop-down-icon {
  width: 14px;
  height: 14px;
  color: #35383F;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

button.drop-down-icon img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s linear;
}

.drop-down-icon.active .drop-down-icon {
  transform: rotate(-180deg);
  transition: transform 0.3s linear;
}


ul.dropdown-items {
  min-width: 328px;
  border-radius: 10px;
  background: #1F7CC0;
  /*  */
  display: none;
  position: absolute;
  top: 131%;
  right: 0%;
  padding: 28px 28px;
  z-index: 999;
}

ul.dropdown-items li {
  list-style-type: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.20);
  margin-bottom: 8px;
}

ul.dropdown-container li.mb-item:last-child {
  border-bottom: none;
}

ul.dropdown-items li a {
  display: block;
  text-decoration: none;
  /*  */
  color: #ffffff;
  font-family: 'Akrobat';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 16px auto;
}

#menu,
nav.navigation-mobile {
  visibility: hidden;
  display: none;
}

@media(max-width:1290px) {
  header.header {
    margin: 0 20px;
  }
}

@media(max-width:1024px) {
  /* Десктоп меню */
  nav.navigation-desktop,
  ul.nav-desktop {
    display: none;
  }

    /* Счётчик заявок */
  li.application-count {
    display: flex;
    cursor: pointer;
    margin-right: 60px;
  }

  .nav-user li.regional-office {
    max-width: 170px;
    margin-right: 60px;
}

  /* Юзер меню */
  /* ul.nav-user, */
  nav.navigation-user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 477px;
  }

  /* Иконка Пользователя */
  li.dropdown .user-icon {
    margin: 0;
  }

  /* Иконка Раскрыть меню */
  li.dropdown .drop-down-icon {
    display: none;
  }

  #burger-menu {
    cursor: pointer;
    width: 28px;
    height: 24px;
    margin-left: 60px;
    /* margin: 15px; */
    overflow: visible;
    position: relative;
    z-index:200;
  }
  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    background: #35383F;
    display: block;
    height: 1px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }
  #burger-menu span:before,
  #burger-menu span:after {
    content: "";
  }
  #burger-menu span {
    right: 0px;
    top: 13px;
    width: 28px;
  }
  #burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 28px;
  }
  #burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 28px;
  }
  
  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 20px;
  }
  #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 20px;
  }
  #burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
  }
  
  #menu,
  nav.navigation-mobile  {
    visibility: visible;
    display: block;
    max-width: 328px;
    z-index:100;
    position: fixed;
    top: 88px;
    right: 22%;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    text-align: left;
  }
  
  #menu.overlay {
    visibility: visible;
    opacity: 1;
    margin-top: 100px;
  }
  
  ul.menu-mobile {
    width: 328px;
    position: fixed;
    z-index: 100;
    top: 89px;
    right: 3%;
    overflow-x: hidden;
    border-radius: 10px;
    background: #1F7CC0;
    padding: 28px 28px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .dropdown-btn {
    display: flex;
    transition: all 0.3s ease-in-out;
  }
  
  .dropdown-btn a {
    display: block;
    text-align: left;
    text-decoration: none;
  }
  
  .dropdown-btn button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    max-width: 24px;
    min-height: 24px;
    color: #ffffff;
  }
  
  .dropdown-btn button img {
    display: inline-block;
    max-width: 100%;
    min-height: 100%;
    transition: transform 0.3s linear;
  }

  .dropdown-btn.active button img {
    transform: rotate(-180deg);
  }

  nav.navigation-mobile ul li {
    /* width: 100%; */
    list-style-type: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    margin-bottom: 8px;
  }
  
  nav.navigation-mobile ul li a {
    display: block;
    text-decoration: none;
    width: 100%;
    margin: 16px auto;
    /*  */
    color: #ffffff;
    font-family: 'Akrobat';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  nav.navigation-mobile ul.dropdown-container {
    display: none;
    background: #1F7CC0;
    padding-left: 20px;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  .active {
    color: white;
  }
  
  ul.dropdown-container {
  
  }
}

@media(max-width:768px) {
  /* Счётчик заявок */
  li.application-count {
    display: flex;
    /* margin-right: 5px; */
    cursor: pointer;
    margin-right: 48px;
  }

  .nav-user li.regional-office {
    /* max-width: 230px; */
    max-width: 170px;
    margin-right: 48px;
  }
  
  /* Юзер меню */
  /* ul.nav-user, */
  nav.navigation-user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 441px;
  }

  #burger-menu {
    cursor: pointer;
    width: 28px;
    height: 24px;
    margin-left: 48px;
    /* margin: 15px; */
    overflow: visible;
    position: relative;
    z-index:200;
  }
}

@media(max-width:680px) {
  .header__body-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 37px;
    padding: 11.5px 0;
  }
    /* Логотипы */
  .header__logo {
    display: flex;
    justify-content: space-between;
    width: 90px;
  }

  .header__logo-rco {
      max-width: 40px;
      min-height: 35px;
  }

  .header__logo-rco img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .header__logo-labor-cool {
      max-width: 36px;
      min-height: 36px;
      border-radius: 50%;
  }

  .header__logo-labor-cool img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .nav-user li.regional-office p a {
    font-size: 12px;;
  }

  ul.dropdown-items {
    min-width: fit-content;
    border-radius: 10px;
    background: #1F7CC0;
    display: none;
    position: absolute;
    top: 139%;
    right: 10px;
    padding: 12px 28px;
    left: -187px;
  }
      /* Иконка Пользователя */
  li.dropdown .user-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #35383F;
    /* margin-right: 12px;
    margin-left: 10px; */
  }

  li.dropdown .user-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  ul.menu-mobile {
    max-width: fit-content;
    position: fixed;
    z-index: 100;
    top: 62px;
    right: 3%;
    overflow-x: hidden;
    border-radius: 10px;
    background: #1F7CC0;
    padding: 28px 28px;
  }
}

@media(max-width:620px) {
  /* Счётчик заявок */
  li.application-count {
    display: flex;
    cursor: pointer;
    width: 36px;
    height: 36px;
    color: #35383F;
    margin-right: 20px;
  }
  
  li.application-count img {
    width: 100%;
    height: 100%;
    color: #35383F;
  }

  .nav-user li.regional-office {
    max-width: 170px;
    margin-right: 20px;
  }
  
  /* Юзер меню */
  nav.navigation-user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 204px;
  }

  #burger-menu {
    cursor: pointer;
    width: 28px;
    height: 24px;
    margin-left: 20px;
    /* margin: 15px; */
    overflow: visible;
    position: relative;
    z-index:200;
  }

  ul.menu-mobile {
    min-width: fit-content;
    padding: 10px 20px;
  }

  nav.navigation-mobile ul li a,
  ul.dropdown-items li a {
    font-size: 18px;

  }

  /* Иконка местоположение 360px*/
  li.regional-dot {
    display: flex;
    align-items: center;
    max-width: 36px;
    min-height: 36px;
    margin-right: 20px;
  }

  li.regional-dot img {
  /* display: block; */
    width: 24px;
    height: 26px;
  }

    /* Региональное отделение */
  .nav-user li.regional-office {
    display: none;
  }

  ul.menu-mobile {
    min-width: fit-content;
    padding: 10px 20px;
    right: 4%;
  }

  ul.dropdown-items {
    min-width: fit-content;
    border-radius: 10px;
    background: #1F7CC0;
    display: none;
    position: absolute;
    top: 139%;
    right: -40px;
    padding: 10px 20px;
    left: -93px;
  }
  nav.navigation-mobile ul li a,
  ul.dropdown-items li a {
    font-size: 16px;
  }
}