/* Border */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  }

body {
  margin: 0;
  font-family: 'BertSans', sans-serif;
  font-family: 'Akrobat', sans-serif;
  font-family: 'inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

section.user-login,
.container {
  margin: 0 auto;
  max-width: 1180px;
}

/* Форма входа пользователя */
article.user-login {
background-image: url(/static/images/user-login-bg.jpg);
  min-height: 734px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.user-login section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.user-login .wrapper {
  background-color: #ffffff;
  max-width: 580px;
  min-height: 534px;
  border-radius: 10px;
  /* плашка */
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  margin: 100px 0;
}

#user_login legend {
  text-align: center;
  color: #35383F;
    /* Desktop/H-2 */
  font-family: 'Akrobat';
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  /*  */
  -webkit-margin-bottom-collapse: separate;
  margin-bottom: 40px;
}

#user_login fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px; /*384px - текст не убирается в такую ширину*/
  border: none;
  margin: 105px 90px;
}

/* Преложение создать аккаунт */
.user-login .question-register {
  display: flex;
  margin-bottom: 20px;
}

.user-login .question-register p {
      /* text */
  font-family: 'BertSans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #35383F;
  /*  */
  margin-right: 8px;
}

.user-login .question-register a {
  /* link */
  font-family: 'BertSans';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  color: #35383F;
}

/* Сообщение о неверно введенном логине или пароле  */
#user_login .invalid-password {
  margin-bottom: 20px;
}

#user_login .invalid-password p {
  color: #DB0000;
  /* хлебные_крошки */
  font-family: 'Akrobat';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Форма входа */
#user_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#user_login label {
  display: none;
}

#user_login #username,
#user_login #password {
  margin-bottom: 8px;
}

#user_login .input-box {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 40px;
}

#user_login .input-box svg {
  position: absolute;
  float: right;
  right: 16px;
  top: 23%;
}

/* Стилизация input -ов */
#user_login input {
  border: 1px solid #A3A3A3;
  border-radius: 10px;
  width: 100%;
  min-height: 40px;
  text-indent: 16px;
  /*  */
  font-family: 'BertSans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

#user_login input:focus {
  outline: none;
}

/* Стилизация placeholder  */
#user_login::placeholder {
  text-overflow: ellipsis;
  padding: 10px 0;
  opacity: 1; transition: opacity 0.3s ease;
    /*  */
  color: #898989;
  font-family: 'BertSans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

#user_login :focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/*  Войти 113*52* В сотоянии Disabled Пока не заполнены поля */
.btn__enter {
  width: 113px;
  min-height: 52px;
  background: #39BFBF;
  /*  */

  color: #ffffff;
  padding: 16px 32px;
  /* button_text */
  font-family: 'BertSans';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}

.btn__enter:disabled {
  cursor: default;
  background: #898989;
}

.btn__enter:hover,
.btn__enter:active {
  cursor: pointer;
  background-color: #129393;
}

#user_login button {
  margin: 0 auto 20px;
}

/* Предложение восстановить пароль */
.user-login .question-recover {
  display: flex;
  justify-content: center;
}

.user-login .question-recover p {
  color: #35383F;
    /* text */
  font-family: 'BertSans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /*  */
  margin-right: 8px;
}

.user-login .question-recover a {
  color: #35383F;
  /* link */
  font-family: 'BertSans';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

/* Адаптив Страницы Вход */
@media(max-width:1290px) {
  section.user-login {
    margin: 0 20px;
  }
}
/* 768 */
@media(max-width:768px) {
  article.user-login {
    background-image: none;
    background-color: #D1D5D8;
  }

  section.user-login {
    justify-content: center;
  }

}
@media(max-width:617px) {
#user-login fieldset {
    margin: 60px 60px;
  }
  .user-login .question-register p,
  .user-login .question-register a {
  font-size:17px;
  }
  .user-login .question-register {
    display: flex;
    flex-wrap: wrap;
  }
  /* Предложение восстановить пароль */
  .user-login .question-recover {
    display: flex;
    flex-wrap: wrap;
  }
}

@media(max-width:520px) {
  #user_login legend {
    text-align: center;
    color: #35383F;
      /* Desktop/H-3 */
    font-family: 'Akrobat';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /*  */
    -webkit-margin-bottom-collapse: separate;
    margin-bottom: 40px;
  }
  /* Преложение создать аккаунт */
  .user-login .question-register p,
  .user-login .question-recover p {
    /* подсказки внутри полей */
    font-family: 'BertSans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    color: #35383F;
  }

  .user-login .question-register a,
  .user-login .question-recover a  {
    /* link_mobile */
    font-family: 'BertSans';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-decoration-line: underline;
    color: #35383F;
  }

  /* Стилизация placeholder  */
  #user_login::placeholder {
    color: #898989;
    font-family: 'BertSans';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media(max-width:468px) {
#user_login fieldset {
    margin: 60px 30px;
  }
}

@media(max-width:290px){
#user_login legend {
    text-align:center;
    font-size: 28px;
  }

@media(max-width:280px){
 #user_login p{
    font-size:13px;
 }
 .user-login .question-register a,
  .user-login .question-recover a,
  #user_login .invalid-password p{
  font-size:13px;
  }

}




