/* Border */
* {
    margin: 0;
    padding: 0;
 }
 
 *,
 *::before,
 *::after {
    box-sizing: inherit;
 }
 
 img {
    display: block;
    max-width: 100%;
    }
 
 body {
    margin: 0;
    font-family: 'BertSans', sans-serif;
    font-family: 'Akrobat', sans-serif;
    font-family: 'inter', sans-serif;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 ul,
 li {
    padding: 0;
    margin: 0;
 }
 
 /* указываем размер контейнера и позиционируем по центру с помощью margin:0; */
 :root {
    --sub-text-p: #5E5C5C;
    --sub-text-h: #35383F;
    --unnamed: #1C5C94;
    --white: #fff;
    --button: #39BFBF;
    --border: 1px solid rgba(0, 0, 0, 0.10);
 
 }
 
 .container {
    max-width: 1180px;
    margin: 0 auto;
 
 }
 
 /* Настройки профиля */
 
 .profile-settings-top {
    padding-top: 40px;
    margin-bottom: 40px;
 }
 
 .breadcrumbs-container ul {
    display: flex;
    list-style: none;
 }
 
 .breadcrumbs-slesh {
    margin: 0 4px;
 }
 
 .breadcrumbs-container a {
    display: block;
    text-decoration: none;
    /* хлебные_крошки */
    font-family: 'Akrobat';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #35383F;
 }
 
 .breadcrumbs-container a.active {
    display: block;
    text-decoration: none;
   /* хлебные_крошки */
    font-family: Akrobat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #1F7CC0;
 }
 
 .ps__title {
    margin: 40px 0;
 }
 
 .ps__title h2 {
    /* Desktop/H-1 */
    font-family: 'Akrobat';
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #35383F;
 }
 
 /* Баннер с данными пользователя */
 .user-metric {
    width: 100%;
    min-height: 424px;
    margin-bottom: 40px;
 }
 
 .user-metric__top {
    display: flex;
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
 }
 
 .user-metric__top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
 }
 
 .user-metric__bottom {
    /* position: absolute; */
    display: flex;
    height: 242px;
    background-color: #ffffff;
    /*  */
    border-radius: 0px 0px 10px 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.10);
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    border-left: 1px solid rgba(0, 0, 0, 0.10);
    background: rgba(244, 244, 244, 0.00);
 }
 
 .user-metric__avatar-wrapper {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 118px;
    left: 40px;
    width: 225px;
    height: 228px;
    background-color: #ffffff;
    border-radius: 50%;
 }
 
 .user-metric__avatar {
    /* position: relative; */
    /* bottom: 100px;
    left: 40px; */
    /* position: absolute; */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid  rgba(0, 0, 0, 0.10);
 }
 
 .user-metric__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
 }
 
 /* Иконки редактирования аватар */
 /* Иконка Добавить аватар */
 .user-metric__avatar-add :first-child {
    display: none;
    position: relative;
    float: right;
    bottom: 40px;
    margin-right: 10px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
 }
 
 /* Иконка Изменить аватар */
 .user-metric__avatar-add {
    position: relative;
    float: right;
    bottom: 40px;
    margin-right: 10px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
 }
 
 .user-metric__avatar-add {
    width: 48px;
    height: 48px;
    border-radius: 50%;
 }
 
 /* Данные пользователя */
 .user-data__wrapper {
    margin: 32px 0 32px 78px;
 }
 
 .user-data__name p {
    /* Desktop/H-3 */
    font-family: 'Akrobat';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #35383F;
 }
 
 .user-data__list-wrapper {
    display: flex;
    max-width: 550px;
    height: 50px;
    margin: 32px 0;
 }
 
 .user-data__list-wrapper ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
 }
 
 .user-data__list-wrapper li {
    border-right: 1px solid #35383F;
    height: auto;
    margin-left: 5px;
 }
 
 .user-data__list-wrapper p {
    font-family: 'BertSans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 5px;
 }
 
 /* Контакты пользователя */
 .user-data__contacts-wrapper {
    display: flex;
 }
 
 /* ссылки на соцсети */
 .user-data__social-network {
    display: flex;
    margin-right: 40px;
 }
 
 .user-data__link-vk,
 .user-data__link-telegram,
 .user-data__link-share-link {
    width: 24px;
    height: 24px;
 }
 
 .user-data__link-telegram {
    margin: 0 12px;
 }
 
 .user-data__link-vk img,
 .user-data__link-telegram img,
 .user-data__link-share-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 
 /* Телефон, почта пользователя */
 .user-data__personal-contacts {
    display: flex;
    align-items: center;
 }
 
 .user-data__phone {
    margin-right: 20px;
 }
 
 .user-data__phone,
 .user-data__mail {
    display: flex;
 }
 
 .user-data__phone img,
 .user-data__mail img  {
    margin-right: 8px;
 }
 
 .user-data__phone a,
 .user-data__mail a {
    display: block;
    font-family: 'BertSans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #35383F;
    text-decoration: none;
 }
 
 /* ********************** */


/* Настройки профиля */
section.profile-settings {
    margin-bottom: 40px;
 }
 .ps__navigation {
    display: flex;
 }
 
 .ps__navigation ul {
    list-style: none;
    display: flex;
 }
 
 .ps__navigation li {
    margin-right: 20px;
 }
 
 .ps__navigation a {
    text-decoration: none;
    text-align: center;
    font-family: 'BertSans';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 20px */
    color: #1C5C94;
    padding: 10px 24px;
    border-radius: 30px;
    border: 2px solid #1C5C94;
 }
 
 .ps__navigation li:hover {}
 
 .ps__navigation a:hover {
    /* border-radius: 30px; */
    background: #1C5C94;
    color: #ffffff;
 }
 
 .ps__navigation li:active {
    border-radius: 30px;
    background: transparent #1C5C94;
 }
 .ps__navigation a:active {
    border-radius: 30px;
    background: #1C5C94;
    padding: 10px 24px;
    color: #ffffff;
 }
 /******************* конец меню таб******** **/

/* Форма входа */
.settings-proffail__login-wrap {
    width: 480px;
    max-height: 240px;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    text-align: center;
    margin-bottom: 40px;


}

/*  нижний блок  пароль*/
.settings-proffail__login-button {
    width: 480px;
    max-height: 336px;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    text-align: center;

}

/* изменить */
.settings-proffail__login-to-change-text {
    padding-left: 4px;
}

.settings-proffail__login-to-change-text a {
    text-decoration: none;
    color: #1F7CC0;
}

/* forma ввода логина и пароля*/
.settings-proffail__form-login,
.settings-proffail__form-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

.settings-proffail__form-login:first-child {
    margin-bottom: 0;
}

.settings-proffail__form-password {
    margin-bottom: 40px;
}

.settings-proffail__form-login {
    margin-bottom: 40px;
}

/* кнопка */
button.settings-proffail__button {

}

.settings-proffail__button-link {
    text-decoration: none;
    color: #FFF;
    font-family: 'BertSans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;

}

.settings-proffail__button-submit {
    display: block;
    box-sizing: border-box;
    width: 151px;
    min-height: 52px;
    border-radius: 10px;
    background: #2DBBAF;
    border: none;
    outline: none;



}

.settings-proffail__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-proffail__button-submit a {
    padding: 16px 32px;
}

/* разделы паролей */
.settings-proffail__input-box-login {
    position: relative;
    width: 100%;
    height: 40px;
}

.settings-proffail__input-box {
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 8px;
}

/* Стилизация input -ов */
/* инпут ввод логина и пароля */

.settings-proffail__input-login,
.settings-proffail__input-password { 
    border: 1px solid #939393;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    text-indent: 16px;
    color: #898989;
    font-family: 'BertSans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.settings-proffail__input-password {
    margin-bottom: 8px;
}

.settings-proffail__input-login:focus,
.settings-proffail__input-password:focus {
    outline: none;
}

/* Стилизация placeholder  */
.settings-proffail__input-login::placeholder,
.settings-proffail__input-password::placeholder {
    text-overflow: ellipsis;
    padding: 10px 0;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.settings-proffail__input-login:focus::placeholder,
.settings-proffail__input-password:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

/*  иконки i*/
.settings-proffail-login__fa-eye,
.settings-proffail-login__fa-eye-slash,
.wrapper__fa-circle-xmark {
    position: relative;
    font-size: 24px;
    color: #898989;
    cursor: pointer;
    padding-top: 17px;
}

.settings-proffail__input-box-login img {
    position: relative;
    float: right;
    right: 8.5px;
    bottom: 34px;
    cursor: pointer;
}

.settings-proffail__input-box img {
   position: relative;
    float: right; 
    right: 8.5px;
    bottom: 41px;
    cursor: pointer;
}



/* блок ваш логин */
.settings-proffail__login-password {
    margin-bottom: 40px;
}
.settings-proffail__login-top-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


/* заголовок логин */
.settings-proffail__login-top-heading {
    color: #35383F;
    font-family: 'Akrobat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;

}

/* картинка и текст изменить */
.settings-proffail__login-to-change-img {
    width: 24px;
    height: 24px;
    margin-bottom: 2px;
}

.settings-proffail__login-to-change {
    color: #1F7CC0;
    font-family: 'Akrobat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    display: flex;
    align-items: center;
}

/* заголовок формы пароля */

.settings-proffail__login-button-heading {
    color: #35383F;
    font-family: 'Akrobat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    display: flex;
    justify-content: start;
    margin-bottom: 40px;

}