/* border */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  }

body {
  margin: 0;
  font-family: 'BertSans', sans-serif;
  font-family: 'Akrobat', sans-serif;
  font-family: 'inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

section.password-recovery,
.container {
  margin: 0 auto;
  max-width: 1180px;
}

/* Восстановление пароля пользователя*/
article.password-recovery {
background-image: url(/static/images/user-login-bg.jpg);
  min-height: 734px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.password-recovery section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.password-recovery .wrapper {
  background-color: #ffffff;
  max-width: 580px;
  min-height: 534px;
  border-radius: 10px;
  /* плашка */
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  margin: 100px 0;
}

/* Форма восстановления пароля */
#password_recovery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin-bottom: 20px; */
}

#password_recovery fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px; /*384px - текст не убирается в такую ширину*/
  border: none;
  margin: 105px 90px;
}

#password_recovery legend {
  text-align: center;
  color: #35383F;
    /* Desktop/H-2 */
  font-family: 'Akrobat';
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
    /*  */
  -webkit-margin-bottom-collapse: separate;
  margin-bottom: 40px;
}

/* Описание восстановления пароля  */
.password-recovery .description-recovery {
  margin-bottom: 20px;
}

.password-recovery .description-recovery p {
  padding-right: 20px;
  text-align: left;
  color: #35383F;
  /*  */
  font-family: 'Verdana';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#password_recovery label {
  display: none;
}

#password_recovery .input-box {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 12px;
}

/* Стилизация input -ов */
#password_recovery input {
  border: 1px solid #A3A3A3;
  border-radius: 10px;
  width: 100%;
  min-height: 40px;
  text-indent: 16px;
  /*  */
  font-family: 'BertSans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

#password_recovery input:focus {
  outline: none;
}

/* Стилизация placeholder  */
#password_recovery::placeholder {
  text-overflow: ellipsis;
  padding: 10px 0;
  opacity: 1; transition: opacity 0.3s ease;
    /*  */
  color: #898989;
  font-family: 'BertSans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

#password_recovery :focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Сообщение о неверно введенном адресе почты */
#password_recovery .invalid-email {
  margin-bottom: 40px;
}

#password_recovery .invalid-email p {
  color: #FF0404;
    /*  */
  /* хлебные_крошки */
  font-family: 'Akrobat';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Кнопка Отправить */
#password_recovery button {
  display: block;
  box-sizing: border-box;
  width: 151px;
  min-height: 52px;
  border-radius: 10px;
  background: #898989;
  border: none;
  outline: none;
  /*  */
  word-wrap: break-word;
  color: #ffffff;
  padding: 16px 32px;
  /* button_text */
  font-family: 'BertSans';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  /*  */
  margin: 0 auto 20px;
}

/* Предложение войти в аккаунт */
.password-recovery .answer-inter {
  display: flex;
  justify-content: center;
}

.password-recovery .answer-inter p {
  color: #35383F;
  /* text */
  font-family: 'BertSans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /*  */
  margin-right: 8px;
}

.password-recovery .answer-inter a {
  color: #35383F;
  /* link */
  font-family: 'BertSans';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

/* Адаптив Страницы Восстановить пароля */
@media(max-width:1290px) {
  section.password-recovery {
    margin: 0 20px;
  }
}

/* 768 */
@media(max-width:768px) {
  article.password-recovery {
    background-image: none;
    background-color: #D1D5D8;
  }

  section.password-recovery {
    justify-content: center;
  }
}

@media(max-width:600px) {
  #password_recovery fieldset {
    margin: 60px 60px;
  }
}

/* 360 */
@media(max-width:450px) {
  #password_recovery legend {
    font-size: 32px;
    text-align: center;
  }

  #password_recovery fieldset {
    margin: 60px 30px;
  }

  .password-recovery .description-recovery p {
    font-size: 13px;
  }
}


/* 280 */
@media(max-width:280px){
  #password_recovery legend {
    font-size: 28px;
  }
 .password-recovery .description-recovery p{
    font-size:10px;
 }
 .password-recovery .answer-inter p{
 font-size:14px;
 }
 .password-recovery .answer-inter a{
 font-size:14px;
 }
}