/* Border */
* {
   margin: 0;
   padding: 0;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}
button{
border:none;
}
img {
   display: block;
   max-width: 100%;
}

body {
   margin: 0;
   font-family: 'BertSans', sans-serif;
   font-family: 'Akrobat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   padding: 0;
   margin: 0;
}

.container {
   max-width: 1180px;
   margin: 0 auto;
}
.login-password-my-page__login-top{
margin-bottom:80px;
border: 2px solid red;
}
/* Форма входа */
.login-password-my-page__wrapper {
   max-width: 480px;
   margin-top:40px;
   margin-bottom:60px;

}

.login-password-my-page__login-top-wrap {
   max-height: 68px;
   padding: 20px 40px;
   border-radius: 10px;
   border: 1px solid rgba(0, 0, 0, 0.10);
   text-align: center;
   margin-bottom: 40px;
   display: flex;
   justify-content: space-between;
}

.login-password-my-page__login-top-heading,
.login-password-my-page__login-to-change {
   display: flex;
}

.login-password-my-page__login-top-heading h2,
p {
   color: #35383F;
   font-family: 'Akrobat', sans-serif;
   font-size: 24px;
   font-style: normal;
   font-weight: 600;
   line-height: 28px;
   display: inline;
   margin-right: 4px;
}

/* картинка и текст изменить */
.login-password-my-page__login-to-change img {
   width: 24px;
   height: 24px;
   margin-bottom: 2px;
}

.login-password-my-page__login-to-change p {
   color: #1F7CC0;
   font-family: 'Akrobat', sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 20px;
   display: flex;
   align-items: center;

}


.login-password-my-page__login-to-change a {
   text-decoration: none;
   color: #1F7CC0;
   font-family: 'Akrobat', sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 20px;
   outline: none;
}

/* заголовок формы пароля */
.login-password-my-page__login-wrap-button h3 {
   color: #35383F;
   font-family: 'Akrobat', sans-serif;
   font-size: 24px;
   font-style: normal;
   font-weight: 600;
   line-height: 28px;
   display: flex;
   justify-content: start;
   margin-bottom: 20px;
}

::placeholder {
   color: #898989;
   font-family: 'BertSans', sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 125%;
}

/*  нижний блок  пароль*/
.login-password-my-page__login-button {
   max-height: 356px;
   padding: 40px;
   border-radius: 10px;
   border: 1px solid rgba(0, 0, 0, 0.10);
   text-align: center;
}

/* forma ввода пароля*/
.login-password-my-page__form-password fieldset {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin-bottom: 40px;
   border: none;
}

/* инпут ввод логина и пароля */
.login-password-my-page__input-box input {
   border: 1px solid #939393;
   border-radius: 10px;
   width: 100%;
   height: 40px;
   text-indent: 16px;
   color: #898989;
   font-family: 'BertSans', sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 125%;
}
.login-password-my-page__btn-eye img{
  cursor: pointer;
}

/* кнопка */
.login-password-my-page__button {
 display: flex;
   justify-content: center;
   align-items: center;
}

.login-password-my-page__button-submit p {
   text-decoration: none;
   color: #FFF;
   font-family: 'BertSans', sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 600;
   line-height: 20px;
    padding: 16px 32px;
}

/* кнопка сохранить */
.login-password-my-page__button-submit {
   display: block;
   box-sizing: border-box;
   width: 151px;
   min-height: 52px;
   border-radius: 10px;
   background: #2DBBAF;
   border: none;
   outline: none;
  cursor: pointer;
}

/* разделы паролей */
.login-password-my-page__input-box {
   position: relative;
   width: 100%;
   align-items: center;
   height: 42px;
   margin-bottom: 8px;
}

.login-password-my-page__input-box:last-child {
   margin-bottom: 0px;
}

/* расположение глаза */
#oulshow {
    display: none;
}

#repshow {
    display: none;
}

#show {
    display: none;
}


.login-password-my-page__input-box svg {
   position: absolute;
   right: 16px;
   top: 21px;
   transform: translateY(-50%);
}



.login-password-my-page__input-password:focus {
   outline: none;
}

/* Стилизация placeholder  */

.login-password-my-page__input-password::placeholder {
   text-overflow: ellipsis;
   padding: 10px 0;
   opacity: 1;
   transition: opacity 0.3s ease;
}

.login-password-my-page__input-login:focus::placeholder,
.login-password-my-page__input-password:focus::placeholder {
   opacity: 0;
   transition: opacity 0.3s ease;
} 

/* ************************    Адаптив        ****************************** */
@media screen and (max-width:1300px) {
   .login-password-my-page__wrapper {
      margin-left: 8%;
      margin-right: 8%;
   }
}

@media screen and (max-width:1030px) {
   .login-password-my-page__wrapper {
        margin-left: 66px;
      margin-right: 66px;
   }
}

@media screen and (max-width:587px) {
   .login-password-my-page__wrapper {
      margin: 40px 16px 80px 16px;
   }
 
    .login-password-my-page__login-button {
      padding: 20px 16px 40px 16px;
   } 

    .login-password-my-page__login-top-wrap {
      padding: 20px 16px 20px 16px;
   }  

   .login-password-my-page__login-wrap {
      margin-bottom: 20px;
   }

   .login-password-my-page__login-to-change p {
      padding-left: 0px;
   }
}

@media screen and (max-width:357px) {
   .login-password-my-page__login-top-heading h2, p,
   .login-password-my-page__login-wrap-button h3{
      font-size: 22px;
   }

   .login-password-my-page__login-to-change img,
   .login-password-my-page__btn-eye img {
      width: 20px;
   }

   .login-password-my-page__input-box input {
      text-indent: 5px;
   }

   .login-password-my-page__input-box img {
      right: 5px;
   }
}

@media screen and (max-width:311px) {
   ::placeholder {
      font-size: 14px;
   }
.login-password-my-page__login-button {
      padding: 20px 10px 40px 10px;
   }

    .login-password-my-page__login-top-wrap {
      padding: 20px 10px 20px 10px;
   }
   .login-password-my-page__login-top-heading h2,
   p,
   .login-password-my-page__login-wrap-button h3 {
      font-size: 18px;
   }

.login-password-my-page__button-submit p {
     padding: 10px 10px;
}
/* кнопка сохранить */
.login-password-my-page__button-submit {
   width: 125px;
}
}
