{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}Профиль{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/ps-title.css' %}">
<link rel="stylesheet" href="{% static 'css/ps-nav.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/ico-participants/participants-lso.css' %}">
<link rel="stylesheet" href="{% static 'css/ico-participants/lso-avatar-user.css' %}">
<title>Участини ЛСО</title>
{% endblock %}

{% block content %}
<!-- Настройки профиля Хлебные крошки-->
<section class="ps-nav">
   <div class="container">
      <!-- Хлебные крошки -->
      <nav class="breadcrumbs-container">
         <ul itemscope itemtype="#">
            <li itemprop="itemListElement" itemscope itemtype="#">
               <a href="#" title="Структура" itemprop="item">
                  <span itemprop="name">Структура</span>
                  <meta itemprop="position" content="0">
               </a>
            </li>

            </li>
               <div class="breadcrumbs-slesh">/</div>
             <li itemprop="itemListElement" itemscope itemtype="#">
               <a href="#" title="Лсо" itemprop="item">
                  <span class="title-lso" itemprop="name">Лсо</span>
                  <meta itemprop="position" content="0">
               </a>
            </li>
               <div class="breadcrumbs-slesh">/</div>
             <li itemprop="itemListElement" itemscope itemtype="#">
               <a href="#" title="Ссо «Инвар»" itemprop="item">
                  <span itemprop="name"><span class="title-lso">Ссо</span> «Инвар»</span>
                  <meta itemprop="position" content="0">
               </a>
            </li>
               <div class="breadcrumbs-slesh">/</div>
            <li itemprop="itemListElement" itemscope itemtype="profile-settings-my-page.html">
               <a class="active" href="#" title=" Участники отряда" itemprop="item">
                  <span itemprop="name"> Участники отряда</span>
                  <meta itemprop="position" content="1">
               </a>
         </ul>
      </nav>
   </div>
</section>
<article class="participants-lso">
   <div class="container">
      <section class="participants-lso__wrapper-block">
         <h2>Участники ЛСО</h2>
         <!-- /* меню таб */ -->
         <nav class="participants-lso__nav-menu">
            <ul class="participants-lso__nav-tab">
               <li><a href="#"></a>Уже в отряде</li>
               <li><a href="#"></a>Ожидают одобрения</li>
            </ul>
         </nav>
         <!-- /* форма инпута, поиска */ -->
         <form class="participants-lso__form" action="">
            <fieldset>
               <div class="participants-lso__form-loop">
                  <button><img src="/static/images/img/participants_lso_img/Icon_loop.svg"></button>
                  <label for="#"><input type="text" placeholder="Например, Иванов Иван"></label>
               </div>
            </fieldset>
         </form>
         <!-- раздел отряды участников -->
         <!-- кнопки переключение с блоков в строку  -->
         <div class="participants-lso__buttum">
            <div class="participants-lso__buttum-click">
               <a class="participants-lso__buttum-click-block" href="#"><img
                     src="/static/images/img/participants_lso_img/darhboard.svg" alt=""></a>
               <a class="participants-lso__buttum-click-list" href="#"><img
                     src="/static/images/img/participants_lso_img/menu.svg" alt=""></a>
            </div>
            <!-- выподающий список -->
            <div class="participants-lso__buttum-list-open">
               <select name="" id="#">
                  <option value="#">Сортировать по</option>
                  <option value="#">Алфавиту: А — Я</option>
                  <option value="#">Дате создания отряда</option>
                  <option value="#">Количеству участников</option>
               </select>
               <button><img src="/static/images/img/participants_lso_img/arrow-list.svg" alt=""></button>
            </div>
         </div>
      </section>
      <!-- фото userov  -->
      <section class="participants-lso__avatar-user">
         <div class="participants-lso__avatar-ul">

            <ul>
               <li class="participants-lso__avatar-li">
                  <a class="participants-lso__avatar-hover-a" href="#">Перейти в профиль</a>
                  <div class="participants-lso__avatar-wrapper">
                     <img src="/static/images/img/participants_lso_img/foto-user-1.png" alt="">
                     <p>Андрей</p>
                     <p>Командир</p>

                  </div>


               </li>
               <li class="participants-lso__avatar-li">
                  <a class="participants-lso__avatar-hover-a" href="#">Перейти в профиль</a>
                  <div class="participants-lso__avatar-wrapper">
                     <img src="/static/images/img/participants_lso_img/foto-user-2.png" alt="">
                     <p>Мария</p>
                     <p>Комиссар</p>
                  </div>
               </li>
               <li class="participants-lso__avatar-li">
                  <a class="participants-lso__avatar-hover-a" href="#">Перейти в профиль</a>
                  <div class="participants-lso__avatar-wrapper">
                     <img src="/static/images/img/participants_lso_img/foto-user-3.png" alt="">
                     <p>Екатерина</p>
                     <p>Мастер</p>
                  </div>
               </li>
               <li class="participants-lso__avatar-li">
                  <a class="participants-lso__avatar-hover-a" href="#">Перейти в профиль</a>
                  <div class="participants-lso__avatar-wrapper">
                     <img src="/static/images/img/participants_lso_img/foto-user-4.png" alt="">
                     <p>Иван</p>
                     <p>Медик</p>
                  </div>
               </li>
               <li class="participants-lso__avatar-li">
                  <a class="participants-lso__avatar-hover-a" href="#">Перейти в профиль</a>
                  <div class="participants-lso__avatar-wrapper">
                     <img src="/static/images/img/participants_lso_img/foto-user-5.png" alt="">
                     <p>Елена</p>
                     <p>Флагоносец</p>
                  </div>
               </li>
               <li class="participants-lso__avatar-li">
                  <a class="participants-lso__avatar-hover-a" href="#">Перейти в профиль</a>
                  <div class="participants-lso__avatar-wrapper">
                     <img src="/static/images/img/participants_lso_img/foto-user-6.png" alt="">
                     <p>Егор</p>
                     <p>Боец</p>
                  </div>
               </li>
               <li class="participants-lso__avatar-li">
                  <a class="participants-lso__avatar-hover-a" href="#">Перейти в профиль</a>
                  <div class="participants-lso__avatar-wrapper">
                     <img src="/static/images/img/participants_lso_img/foto-user-7.png" alt="">
                     <p>Алексей</p>
                     <p>Боец</p>
                  </div>
               </li>
               <li class="participants-lso__avatar-li">
                  <a class="participants-lso__avatar-hover-a" href="#">Перейти в профиль</a>
                  <div class="participants-lso__avatar-wrapper">
                     <img src="/static/images/img/participants_lso_img/foto-user-8.png" alt="">
                     <p>Максим</p>
                     <p>Боец</p>
                  </div>
               </li>
               <li class="participants-lso__avatar-li">
                  <a class="participants-lso__avatar-hover-a" href="#">Перейти в профиль</a>
                  <div class="participants-lso__avatar-wrapper">
                     <img src="/static/images/img/participants_lso_img/foto-user-9.png" alt="">
                     <p>Евгения</p>
                     <p>Боец</p>
                  </div>
               </li>
               <li class="participants-lso__avatar-li">
                  <a class="participants-lso__avatar-hover-a" href="#">Перейти в профиль</a>
                  <div class="participants-lso__avatar-wrapper">
                     <img src="/static/images/img/participants_lso_img/foto-user-10.png" alt="">
                     <p>Елена</p>
                     <p>Боец</p>
                  </div>
               </li>
               <li class="participants-lso__avatar-li">
                  <a class="participants-lso__avatar-hover-a" href="#">Перейти в профиль</a>
                  <div class="participants-lso__avatar-wrapper">
                     <img src="/static/images/img/participants_lso_img/foto-user-11.png" alt="">
                     <p>Роланда</p>
                     <p>Боец</p>
                  </div>
               </li>
               <li class="participants-lso__avatar-li">
                  <a class="participants-lso__avatar-hover-a" href="#">Перейти в профиль</a>
                  <div class="participants-lso__avatar-wrapper">
                     <img src="/static/images/img/participants_lso_img/foto-user-12.png" alt="">
                     <p>Вероника</p>
                     <p>Боец</p>
                  </div>
               </li>
               <li class="participants-lso__avatar-li">
                  <a class="participants-lso__avatar-hover-a" href="#">Перейти в профиль</a>
                  <div class="participants-lso__avatar-wrapper">
                     <img src="/static/images/img/participants_lso_img/foto-user-13.png" alt="">
                     <p>Александра</p>
                     <p>Боец</p>
                  </div>
               </li>
               <li class="participants-lso__avatar-li">
                  <a class="participants-lso__avatar-hover-a" href="#">Перейти в профиль</a>
                  <div class="participants-lso__avatar-wrapper">
                     <img src="/static/images/img/participants_lso_img/foto-user-14.png" alt="">
                     <p>Нина</p>
                     <p>Боец</p>
                  </div>
               </li>
               <li class="participants-lso__avatar-li">
                  <a class="participants-lso__avatar-hover-a" href="#">Перейти в профиль</a>
                  <div class="participants-lso__avatar-wrapper">
                     <img src="/static/images/img/participants_lso_img/foto-user-15.png" alt="">
                     <p>Ярослава</p>
                     <p>Боец</p>
                  </div>
               </li>
               <li class="participants-lso__avatar-li">
                  <a class="participants-lso__avatar-hover-a" href="#">Перейти в профиль</a>
                  <div class="participants-lso__avatar-wrapper">
                     <img src="/static/images/img/participants_lso_img/foto-user-16.png" alt="">
                     <p>Анна</p>
                     <p>Боец</p>
                  </div>
               </li>
               <li class="participants-lso__avatar-li">
                  <a class="participants-lso__avatar-hover-a" href="#">Перейти в профиль</a>
                  <div class="participants-lso__avatar-wrapper">
                     <img src="/static/images/img/participants_lso_img/foto-user-17.png" alt="">
                     <p>Василиса</p>
                     <p>Боец</p>
                  </div>
               </li>
               <li class="participants-lso__avatar-li">
                  <a class="participants-lso__avatar-hover-a" href="#">Перейти в профиль</a>
                  <div class="participants-lso__avatar-wrapper">
                     <img src="/static/images/img/participants_lso_img/foto-user-18.png" alt="">
                     <p>Анна</p>
                     <p>Боец</p>
                  </div>
               </li>
               <li class="participants-lso__avatar-li">
                  <a class="participants-lso__avatar-hover-a" href="#">Перейти в профиль</a>
                  <div class="participants-lso__avatar-wrapper">
                     <img src="/static/images/img/participants_lso_img/foto-user-19.png" alt="">
                     <p>Анна</p>
                     <p>Боец</p>
                  </div>
               </li>
               <li class="participants-lso__avatar-li">
                  <a class="participants-lso__avatar-hover-a" href="#">Перейти в профиль</a>
                  <div class="participants-lso__avatar-wrapper">
                     <img src="/static/images/img/participants_lso_img/foto-user-20.png" alt="">
                     <p>Анна</p>
                     <p>Боец</p>
                  </div>
               </li>
               <li class="participants-lso__avatar-li">
                  <div class="participants-lso__avatar-wrapper">
                     <img src="/static/images/img/participants_lso_img/foto-user-21.png" alt="">
                     <p>Анна</p>
                     <p>Боец</p>
                  </div>
               </li>
               <li class="participants-lso__avatar-li">
                  <a class="participants-lso__avatar-hover-a" href="#">Перейти в профиль</a>
                  <div class="participants-lso__avatar-wrapper">
                     <img src="/static/images/img/participants_lso_img/foto-user-22.png" alt="">
                     <p>Павел</p>
                     <p>Боец</p>
                  </div>
               </li>
               <li class="participants-lso__avatar-li">
                  <a class="participants-lso__avatar-hover-a" href="#">Перейти в профиль</a>
                  <div class="participants-lso__avatar-wrapper">
                     <img src="/static/images/img/participants_lso_img/foto-user-23.png" alt="">
                     <p>Денис</p>
                     <p>Боец</p>
                  </div>
               </li>
               <li class="participants-lso__avatar-li">
                  <a class="participants-lso__avatar-hover-a" href="#">Перейти в профиль</a>
                  <div class="participants-lso__avatar-wrapper">
                     <img src="/static/images/img/participants_lso_img/foto-user-24.png" alt="">
                     <p>Дмитрий</p>
                     <p>Боец</p>
                  </div>
               </li>
            </ul>

         </div>

         <!-- кнопка -->
         <div class="participants-lso__avatar-button">
            <button type="btn">Показать еще</button>
         </div>
      </section>

      <!-- при нажатии меняется на список -->
      <section class="participants-lso__list-avatar">
         <div class="participants-lso__list-ul">
            <ul>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
            </ul>

         </div>
      </section>
   </div>
</article>

{% endblock %}