{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}Восстановление пароля{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/password-change.css' %}" >
<link rel="stylesheet" href="{% static 'css/buttons.css' %}" >

{% endblock %}
{% block content %}
    <!-- Создание нового пароля -->
    <article class="password-change" style="background-image: url(/static/images/user-login-bg.jpg);">
        <section class="password-change">
            <div class="wrapper">
                <!-- Форма Создание нового пароля -->
                <form id="password_change" method="post" action="#" enctype="multipart/form-data" spellcheck="true">
                    <fieldset form="password_change">
                        <legend>Создание нового пароля</legend>
                        <!-- Описание восстановления пароля  -->
                        <div class="condition-recovery">
                            <p>Пароль должен быть не короче 8 букв и цифр. Используйте только
                                буквы (a–z, A–Z), цифры и символы ! @ # $ % ^ & * ( ) - _ + = ; : , . / ? \ | ` ~ { }
                            </p>
                        </div>
                        <!-- Поле Новый пароль -->
                        <div class="input-box">
                            <label for="new_password">Пароль</label>
                            <input form="password_change" id="new_password" type="password" name="password" autocomplete="new-password" required="true" placeholder="Новый пароль" minlength="8" maxlength="20">
                            <img class="icon-eye-slash" src="/static/images/icons/eye-slash.svg" alt="">
                        </div>
                        <div class="input-box">
                            <input form="password_change" id="new_password" type="password" name="password" autocomplete="new-password" required="true" placeholder="Повторите новый пароль" minlength="8" maxlength="20">
                            <img class="icon-eye-slash" src="/static/images/icons/eye-slash.svg" alt="">
                        </div>
                        <!-- Сообщение Пароли не совпадаю -->
                        <div class="passwords-dont-match">
                            <p>Пароли не совпадают</p>
                        </div>
                        <!-- Кнопка Сохранить -->
                        <!-- Сохранить 151*52  По умолчанию в сотоянии Disabled Пока не заполнены поля -->
                        <button  class="btn__save" id="#" type="submit" formtarget=" _self">
                            Сохранить
                        </button>
                    </fieldset>
                </form>
            </div>
        </section>
    </article>
        <!-- <script src="/static/js/script.js"></script> -->
{% endblock %}