{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}Восстановление пароля{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/recover_password.css' %}" >
{% endblock %}
{% block content %}
 <!--Восстановление пароля пользователя -->
    <article class="password-recovery" style="background-image: url(/static/images/user-login-bg.jpg);">
        <section class="password-recovery">
            <div class="wrapper">
                <!-- Форма восстановления пароля-->
                <form id="password_recovery" action="#" enctype="multipart/form-data" spellcheck="true">
                    <fieldset form="password_recovery">
                        <legend class="title">Восстановить пароль</legend>
                        <!-- Описание восстановления пароля  -->
                        <div class="description-recovery">
                            <p>Введите адрес электронной почты, который вы указывали при
                                регистрации, мы отправим вам ссылку на восстановление пароля
                            </p>
                        </div>
                        <!-- Поле Почта -->
                        <div class="input-box">
                            <label for="email">Введите e-mail</label>
                            <input form="password_recovery" type="email" name="email" id="email" autocomplete="email" placeholder="Введите e-mail" required="true">
                        </div>
                        <!-- Сообщение о неверно введенном адресе почты -->
                        <div class="invalid-email">
                            <p>Неверный формат e-mail</p>
                        </div>
                        <!-- Кнопка Отправить -->
                        <button class="send" type="submit" formtarget=" _self">
                            Отправить
                        </button>
                        <!-- Предложение войти в аккаунт  -->
                        <div class="answer-inter">
                            <p>Уже помню!</p>
                            <a href="/templates/form-user-login-old.html">Войти</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
    </article>

{% endblock %}