{% extends 'layout/basic.html' %}
{% block title %}Регистрация{% endblock %}
{% block head %}
    {% load static %}
   <!-- <link rel="stylesheet" href="{% static 'css/signup.css' %}">-->
	<link rel="stylesheet" href="{% static 'css/registration.css' %}">
	<link rel="stylesheet" href="{% static 'css/buttons.css' %}">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}
{% block content %}

<!--        <div class="form_wrapper">
            <h1 class="page_title">Регистрация</h1>

            <form method="post" class="form">

                <input type="submit" value="Зарегистрироваться">
            </form>
        </div>-->
<!-- Форма регистрации  -->
<article class="user-reg">
	<section class="user-registration registration">
		<div class="container">
			<div class="user-registration__container ">
				<div class="user-registration__form-wrapper">
					<div class="user-registration__form-container form__wrapper">
						<form action="#" class="user__form-registration reg-form" id="form">
							<div class="user-registration__title">
								<h2>Регистрация</h2>
							</div>
							<div class="wrapper">
								<div class="select-btn">
									<span>Выберите регион</span>
									<img src="/static/images/icons/angel-up.svg" alt="">
								</div>
								<!-- Поле поиска региона -->
								<div class="content">
									<div class="search">
										<input spellcheck="false" type="text" placeholder="search" />
									</div>
									<ul class="options"></ul>
								</div>
							</div>
							<!-- Фамилия -->
							<div class="user-registration__input-box form-field">
								<input class="user-registration__input-surname" type="text" name="surname" id="surname"
									placeholder="Фамилия" />
								<!-- JS Текст об ошибке неверно введённого зачения -->
								<!-- <div class="user-registration__text-error error"></div> -->
							</div>
							<!-- Имя -->
							<div class="user-registration__input-box form-field">
								<input class="user-registration__input-name" type="text" name="name" id="name"
									placeholder="Имя" />
								<!-- JS Текст об ошибке неверно введённого зачения -->
								<!-- <div class="user-registration__text-error error"></div> -->
							</div>
							<!-- Отчество -->
							<div class="user-registration__input-box form-field">
								<input class="user-registration__input-patronymic" type="text" name="patronymic"
									id="patronymic" placeholder="Отчество (не обязательно для заполнения)" />
								<!-- JS Текст об ошибке неверно введённого зачения -->
								<!-- <div class="user-registration__text-error error"></div> -->
							</div>
							<!-- Номер телефона -->
							<div class="user-registration__input-box user-registration__input-box form-field">
								<input class="user-registration__input-phone" type="text" name="phone" id="phone"
									placeholder="+7 (999) 999-99-99" />
								<!-- JS Текст об ошибке неверно введённого зачения -->
								<!-- <div class="user-registration__text-error error"></div> -->
							</div>
							<!--Почта-->
							<div class="user-registration__input-box form-field">
								<input class="user-registration__input-email" type="text" name="email" id="email"
									placeholder="Электронная почта" />
								<!-- JS Текст об ошибке неверно введённого зачения -->
								<!-- <div class="user-registration__text-error error"></div> -->
							</div>
							<!-- Придумайте логин -->
							<div class="user-registration__input-box form-field">
								<input class="user-registration__input-login" type="text" name="username" id="username"
									placeholder="Придумайте логин" />
								<!-- JS Текст об ошибке неверно введённого зачения -->
								<!-- <div class="user-registration__text-error error"></div> -->
							</div>
							<!-- Придумайте пароль -->
							<div class="user-registration__input-box form-field">
								<input class="user-registration__input-password" type="password" name="password"
									id="password" placeholder="Придумайте пароль" />
								<svg width="24" height="25" viewBox="0 0 20 20" fill="none" onclick="togglePass()"
									id="show" xmlns="http://www.w3.org/2000/svg">
									<g id="vuesax/linear/eye">
										<g id="eye">
											<path id="Vector"
												d="M12.9842 10.0009C12.9842 11.6509 11.6509 12.9842 10.0009 12.9842C8.35091 12.9842 7.01758 11.6509 7.01758 10.0009C7.01758 8.35091 8.35091 7.01758 10.0009 7.01758C11.6509 7.01758 12.9842 8.35091 12.9842 10.0009Z"
												stroke="#898989" stroke-width="1.5" stroke-linecap="round"
												stroke-linejoin="round" />
											<path id="Vector_2"
												d="M9.99987 16.8913C12.9415 16.8913 15.6832 15.1579 17.5915 12.1579C18.3415 10.9829 18.3415 9.00794 17.5915 7.83294C15.6832 4.83294 12.9415 3.09961 9.99987 3.09961C7.0582 3.09961 4.31654 4.83294 2.4082 7.83294C1.6582 9.00794 1.6582 10.9829 2.4082 12.1579C4.31654 15.1579 7.0582 16.8913 9.99987 16.8913Z"
												stroke="#898989" stroke-width="1.5" stroke-linecap="round"
												stroke-linejoin="round" />
										</g>
									</g>
								</svg>

								<svg width="24" height="25" viewBox="0 0 24 25" fill="none"
									xmlns="http://www.w3.org/2000/svg" onclick="togglePass()" class="fa-eye-slash"
									id="hide">
									<path
										d="M14.5309 9.97188L9.4709 15.0319C8.8209 14.3819 8.4209 13.4919 8.4209 12.5019C8.4209 10.5219 10.0209 8.92188 12.0009 8.92188C12.9909 8.92188 13.8809 9.32188 14.5309 9.97188Z"
										stroke="#898989" stroke-width="1.5" stroke-linecap="round"
										stroke-linejoin="round" />
									<path
										d="M17.8198 6.26852C16.0698 4.94852 14.0698 4.22852 11.9998 4.22852C8.46984 4.22852 5.17984 6.30852 2.88984 9.90852C1.98984 11.3185 1.98984 13.6885 2.88984 15.0985C3.67984 16.3385 4.59984 17.4085 5.59984 18.2685"
										stroke="#898989" stroke-width="1.5" stroke-linecap="round"
										stroke-linejoin="round" />
									<path
										d="M8.4209 20.0297C9.5609 20.5097 10.7709 20.7697 12.0009 20.7697C15.5309 20.7697 18.8209 18.6897 21.1109 15.0897C22.0109 13.6797 22.0109 11.3097 21.1109 9.89969C20.7809 9.37969 20.4209 8.88969 20.0509 8.42969"
										stroke="#898989" stroke-width="1.5" stroke-linecap="round"
										stroke-linejoin="round" />
									<path d="M15.5095 13.2012C15.2495 14.6112 14.0995 15.7612 12.6895 16.0212"
										stroke="#898989" stroke-width="1.5" stroke-linecap="round"
										stroke-linejoin="round" />
									<path d="M9.46902 15.0293L1.99902 22.4993" stroke="#898989" stroke-width="1.5"
										stroke-linecap="round" stroke-linejoin="round" />
									<path d="M21.9993 2.5L14.5293 9.97" stroke="#898989" stroke-width="1.5"
										stroke-linecap="round" stroke-linejoin="round" />
								</svg>
								<!-- <i class="fa-regular fa-eye-slash" id="togglePassword"></i> -->
								<!-- JS Текст об ошибке неверно введённого зачения -->
								<!-- <div class="user-registration__text-error error"></div> -->
							</div>
							<!-- Повторите пароль -->
							<div class="user-registration__input-box form-field">
								<input class="user-registration__input-password" type="password" name="repeat-password"
									id="repeat-password" placeholder="Повторите пароль" />
								<svg width="24" height="25" viewBox="0 0 20 20" fill="none"
									onclick="togglePassConfirm()" id="show_repeat" xmlns="http://www.w3.org/2000/svg">
									<g id="vuesax/linear/eye">
										<g id="eye">
											<path id="Vector"
												d="M12.9842 10.0009C12.9842 11.6509 11.6509 12.9842 10.0009 12.9842C8.35091 12.9842 7.01758 11.6509 7.01758 10.0009C7.01758 8.35091 8.35091 7.01758 10.0009 7.01758C11.6509 7.01758 12.9842 8.35091 12.9842 10.0009Z"
												stroke="#898989" stroke-width="1.5" stroke-linecap="round"
												stroke-linejoin="round" />
											<path id="Vector_2"
												d="M9.99987 16.8913C12.9415 16.8913 15.6832 15.1579 17.5915 12.1579C18.3415 10.9829 18.3415 9.00794 17.5915 7.83294C15.6832 4.83294 12.9415 3.09961 9.99987 3.09961C7.0582 3.09961 4.31654 4.83294 2.4082 7.83294C1.6582 9.00794 1.6582 10.9829 2.4082 12.1579C4.31654 15.1579 7.0582 16.8913 9.99987 16.8913Z"
												stroke="#898989" stroke-width="1.5" stroke-linecap="round"
												stroke-linejoin="round" />
										</g>
									</g>
								</svg>

								<svg width="24" height="25" viewBox="0 0 24 25" fill="none"
									xmlns="http://www.w3.org/2000/svg" onclick="togglePassConfirm()"
									class="fa-eye-slash" id="hide_repeat">
									<path
										d="M14.5309 9.97188L9.4709 15.0319C8.8209 14.3819 8.4209 13.4919 8.4209 12.5019C8.4209 10.5219 10.0209 8.92188 12.0009 8.92188C12.9909 8.92188 13.8809 9.32188 14.5309 9.97188Z"
										stroke="#898989" stroke-width="1.5" stroke-linecap="round"
										stroke-linejoin="round" />
									<path
										d="M17.8198 6.26852C16.0698 4.94852 14.0698 4.22852 11.9998 4.22852C8.46984 4.22852 5.17984 6.30852 2.88984 9.90852C1.98984 11.3185 1.98984 13.6885 2.88984 15.0985C3.67984 16.3385 4.59984 17.4085 5.59984 18.2685"
										stroke="#898989" stroke-width="1.5" stroke-linecap="round"
										stroke-linejoin="round" />
									<path
										d="M8.4209 20.0297C9.5609 20.5097 10.7709 20.7697 12.0009 20.7697C15.5309 20.7697 18.8209 18.6897 21.1109 15.0897C22.0109 13.6797 22.0109 11.3097 21.1109 9.89969C20.7809 9.37969 20.4209 8.88969 20.0509 8.42969"
										stroke="#898989" stroke-width="1.5" stroke-linecap="round"
										stroke-linejoin="round" />
									<path d="M15.5095 13.2012C15.2495 14.6112 14.0995 15.7612 12.6895 16.0212"
										stroke="#898989" stroke-width="1.5" stroke-linecap="round"
										stroke-linejoin="round" />
									<path d="M9.46902 15.0293L1.99902 22.4993" stroke="#898989" stroke-width="1.5"
										stroke-linecap="round" stroke-linejoin="round" />
									<path d="M21.9993 2.5L14.5293 9.97" stroke="#898989" stroke-width="1.5"
										stroke-linecap="round" stroke-linejoin="round" />
								</svg>
								<!-- <i class="fa-regular fa-eye-slash" id="togglePasswordConfirm"></i> -->
								<!-- JS Текст об ошибке неверно введённого зачения -->
								<!-- <div class="user-registration__text-error error"></div> -->
							</div>
							<!-- Даю согласия чек-бокс -->
							<div class="user-registration__approval check-wrapper">
								<input class="user-registration__approval-checkbox check" type="checkbox" id="check"
									value="check" />
								<p>
									Даю согласие на обработку моих персональных данных в соответствии с законом от
									27.07.2006 года № 152-ФЗ «О персональных данных», на условиях и для целей,
									определенных в Согласии на обработку персональных данных*.
								</p>
							</div>
							<!-- Кнопка Зарегистрироваться -->
							<button class="user-registrations__button-register reg-form__btn" type="submit">
								Зарегистрироваться
							</button>
							<!-- У меня уже есть аккаунт  -->
							<div class="user-registrations__link-login GoLogin_wrapper">
								<a href="#">У меня уже есть аккаунт</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</article>
 <script src="/static/js/script_registration.js"></script>
<script src="/static/js/form-user-registration.js"></script>
    <!--<form class="main__form" method="post">
        {% csrf_token %}
        <h3 class="form__h3">Регистрация</h3>

        <div style="color:red;">{{ form.non_field_errors }}</div>
        <span class="form__wrap">
            {{form.region}}
        </span>
        <span class="form__wrap">
            <div style="color:red;">{{ form.last_name.errors }}</div>
            <label class="form__label">Фамилия*</label>
            <input type="text" name="last_name" id="last_name" class="form__input" value="{% if not form.first_name.value == None %}{{form.last_name.data}}{% endif %}" required>
        </span>

        <span class="form__wrap">
            <div style="color:red;">{{ form.first_name.errors }}</div>
            <label for="{{ form.first_name.id_for_label }}" class="form__label">Имя* </label>
            <input type="text" name="first_name" id="id_first_name" class="form__input" value="{% if not form.first_name.value == None %}{{form.first_name.data}}{% endif %}" required>
        </span>

        <span class="form__wrap">
            <div style="color:red;">{{ form.last_name.errors }}</div>
            <label class="form__label">Отчество</label>
            <input type="text" name="patronymic" id="patronymic" class="form__input" value="{% if not form.patronymic.value == None %}{{form.patronymic.data}}{% endif %}">
        </span>

        <span class="form__wrap">
            <div style="color:red;">{{ form.last_name.errors }}</div>
            <label class="form__label">Отчество</label>
            <input type="date" name="date_of_birth" id="date_of_birth" class="form__input" value="{% if not form.date_of_birth.value == None %}{{form.date_of_birth.data}}{% endif %}" required>
        </span>

        <span class="form__wrap">
            <div style="color:red;">{{ form.telephone.errors }}</div>
            <label class="form__label">Номер телефона*</label>
            <input type="tel" name="telephone" id="id_telephone" class="form__input" value="{% if not form.telephone.value == None %}{{form.telephone.data}}{% endif %}" required>
        </span>

        <span class="form__wrap">
            <div style="color:red;">{{ form.email.errors }}</div>
            <label class="form__label">Электронная почта*</label>
            <input type="email" name="email" id="id_email" class="form__input" value="{% if not form.email.value == None %}{{form.email.data}}{% endif %}" required>
        </span>

        <span class="form__wrap">
            <div style="color:red;">{{ form.username.errors }}</div>
            <label class="form__label">Логин*</label>
            <input type="text" name="username" id="id_username" class="form__input" value="{% if not form.username.value == None %}{{form.username.data}}{% endif %}" required>
            <p class="form__desc">Не более 15 символов. Только буквы, цифры и символы @/./+/-/_.</p>
        </span>

        <span class="form__wrap">
            <div style="color:red;">{{ form.password.errors }}</div>
            <label class="form__label">Пароль*</label>
            <input type="password" name="password" id="id_password" class="form__input" required>
            <p class="form__desc password__desc">
                Пароль не должен быть слишком похож на другую вашу личную информацию, содержать минимум 8 символов.
               <span>
                Пароль не должен быть слишком простым и распространенным.
                </span>
                <span>
                Пароль не может состоять только из цифр.
                </span>
            </p>
        </span>

        <span class="form__wrap">
            <div style="color:red;">{{ form.repeat_password.errors }}</div>


            <label class="form__label">Повтор пароля*</label>
            <input type="password" name="repeat_password" id="id_repeat_password" class="form__input" required>
            <p class="form__desc password__desc">
                Для подтверждения пароля введите его ещё раз.
            </p>
        </span>

        <span class="form__checkbox_wrapper">
            <label for="form-checkbox" class="form__checkbox" id="label-form-checkbox">
                <input type="checkbox" name="checkTrue" id="form-checkbox" onclick="checkBox()" >
                <span class="checkbox__p">
                    *Нажимая кнопку “Я с Вами!” , я даю свое согласие на обработку моих персональных
                    данных, в соответствие с <a href="https://www.consultant.ru/document/cons_doc_LAW_61801/" target="_blank">
                    “Федеральным законом от 27.07.2006 года №152-ФЗ “О персональных данных”</a>, на условиях и для целей,
                    определенных в <a href="/agreements/">Согласии на обработку персональных данных</a>.
                </span>
            </label>
        </span>

        <input type="submit" id="form-submit" class="form__submit_btn" value="Я с Вами!" disabled="true">

    </form>

-->
<!--<script>
    function checkBox(){
        let button = document.getElementById("form-submit");
        if(button.disabled) {
        button.disabled = false;
        } else {
        button.disabled = true;
        }

    }
</script>-->
{% endblock %}