/* обводка блока */
/* горизонтальное расположение */
#horizontallso {
   grid-template-columns: repeat(1, auto);
   grid-row-gap: 12px;

   display: none;
}


.horizontallso-item__wrapper {
   display: grid;
   grid-template-columns: auto 1fr auto;
   align-items: baseline;
   align-items: center;

   padding: 4px 20px;

   border-radius: 10px;
   border: 1px solid #B6B6B6;
   background: #FFF;
   
}

.containerHorizontal {
   display: flex;
   align-items: center;
   justify-content: space-between;

}

.horizontallso-img {
   align-items: center;
   width: 50px;
   height: 40px;
   justify-content: start;

}

.horizontallso-item img {
   width: 36px;
   height: 36px;
   border-radius: 50%;
   overflow: cover;
}

.horizontallso-item p {
   margin-left: 10px;

}

.horizontallso-item__list-date {
   width: 95px;
   display: grid;
   grid-template-columns: auto 1fr 1fr;
}


.horizontallso-img img {
   display: flex;
   position: relative;
   align-items: center;
}

.horizontallso-item__list-img-status {
   position: absolute;
   width: 18px;
   max-height: 18px;
   top: -17px;
   right: -15px;

}

.horizontallso-itemo__list-img {
   margin-right: 13px;
}

.horizontallso-item__list-full {
   color: #35383F;
   font-family: 'BertSans', sans-serif;
   font-size: 16px;
   font-weight: 400;
}



.horizontallso-item__list-date p {
   color: #1C5C94;
   font-family: 'BertSans', sans-serif;
   font-size: 16px;
   font-weight: 400;
}


/* адаптив */


@media (max-width:1290px) {
   #squadslso-wrapper {
      grid-template-columns: repeat(5, 1fr);
   }

}

@media (max-width:1024px) {
   #squadslso-wrapper {
      grid-column-gap: 0px;
   }

   .squadslso__avatar-hover-a span {
      left: -5px;
   }
}

@media (max-width:1010px) {
   #squadslso-wrapper {
      grid-template-columns: repeat(4, 1fr);
   }
}

@media (max-width:750px) {
   .squadslso__avatar-ul img {
      width: 110px;
      height: 110px;
      margin: 0 auto;
   }
   .squadslso__avatar-hover-a span {
      padding: 8px 5px;

   }

   #squadslso-wrapper {
      grid-column-gap: 20px;
   }

   .squadslso__approvals-ul img,
   .squadslso__avatar-ul img {
      border-radius: 50%;
   }

   .squadslso__avatar-hover-a:hover span {
      display: none;
   }

}


@media (max-width:634px) {
   #squadslso-wrapper {
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 20px;
   }

   .squadslso-wrapper__item {
      margin: 0;
      max-height: 180px;
   }

   .squadslso-wrapper__item-category {
      padding-top: 16px;
      font-size: 18px;
   }

   .squadslso-wrapper__item-title {
      margin-top: 4px;
      font-size: 12px;
   }

   .squadslso-tabs li {
      text-align: center;
      font-family: 'BertSans', sans-serif;
      font-size: 16px;
   }

   .containerHorizontal {
      align-items: flex-start;
      flex-direction: column;
   }

   .horizontallso-item__list-date span {
      display: none;
   }

   .horizontallso-item p {
      margin-left: 0;
   }

   .horizontallso-item__wrapper {
      padding: 4px 8px;
   }
}

@media (max-width:482px) {

   .round-img,
   .squadslso__avatar-ul img {
      width: 80px;
      height: 80px;
      margin: 0 auto;
   }


   .squadslso-wrapper__item {
      max-height: 170px;
   }

   .sort-select__input {
      margin-right: 4px;
   }

   #squadslso-wrapper {
      grid-column-gap: 0px;
   }

   h4,
   .squadslso-search__input::placeholder {
      font-size: 20px;

   }

   #squadslso-wrapper {
      grid-row-gap: 0px;

   }


   .sort-alph {
      background-position: calc(100% - 3px) 0.15em;
   }

   /* заголовок */
   .squadslso__wrapper-block h2 {
      font-size: 40px;

   }

   .sort-layout {
      grid-column-gap: 5px;

   }

   .sort-select__input {
      padding: 4px 0px 7px 5px;

   }

   .sort-alph {
      max-width: 212px;
   }

   .horizontallso-item__wrapper {
      grid-template-columns: auto 1fr auto;
   }

   .horizontallso-item__list-full,
   .horizontallso-item__list-date p{
      font-size: 12px;
   }
   
   .squadslso-tabs li {
      padding: 5px 14px;
   }

   .squadslso-tabs {
      grid-column-gap: 6px;

   }

   /* подложка */
   #squadslso-wrapper,
   #horizontallso {
      padding: 16px;
   }
}

@media (max-width:360px) {

   .round-img,
   .squadslso__avatar-ul img {
      width: 60px;
      height: 60px;
      margin: 0 auto;
   }

   .squadslso-wrapper__item {
      width: 104px;
   }

   .squadslso-wrapper__item {
      max-height: 140px;
   }

   .squadslso-wrapper__item-category {
      padding-top: 16px;
   }


   #horizontallso,
   #squadslso-wrapper {
      padding: 16px;
   }

   .sort-alph {
      background-position: calc(100% - 5px) 0.15em;
   }
}



