<!DOCTYPE html>
<html lang="ru">

   <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Подключаем шрифты Akrobat -->
        <link rel="stylesheet" href="/static/fonts/akrobat/otf/stylesheet.css">
        <link rel="stylesheet" href="/static/fonts/akrobat/ttf/stylesheet.css">
        <link rel="stylesheet" href="/static/fonts/akrobat/web/stylesheet.css">
        <!-- Подключаем шрифты BertSans -->
        <link rel="stylesheet" href="/static/fonts/bertsans/ttf/stylesheet.css">
        <!-- Подключаем шрифты Inter -->
        <link rel="stylesheet" href="/static/fonts/inter/ttf/stylesheet.css">
        <!-- Подключаем шрифты Verdana -->
        <link rel="stylesheet" href="/static/fonts/verdana/ttf/stylesheet.css">
        <!-- Подключаем стили -->

        <!-- Стили кнопок -->
        <link rel="stylesheet" href="/static/css/buttons.css">
        <link rel="stylesheet" href="/static/css/base.css">
        <!-- Подключаем библиотеки -->
        <title>Кнопки Инпуты</title>
   </head>

    <body>
      
    <!-- Кнопки -->
    <section class="button__layouts">
        <div class="container">
            <div class="button__container" style="display: flex; flex-direction: column;">
                <div class="button__wrapper">
                    <h2 style="text-align: center; margin: 50px 0;">Buttons</h2>
                        <p style="margin: 10px;" style="text-align: center; margin: 15px 0; color: red; font-weight:800;">Скопируйте из этого файла в ваш файл вёрстки:
                            комментарий с названием кнопки
                            и
                            html-код кнопки.</p>
                    
                    <p style="margin: 10px;" style="text-align: center; margin: 15px 0; color: red; font-weight:800;">Мы ничего не меняем в файле buttons.css!</p>
                    <p style="margin: 10px;" style="text-align: center; margin: 15px 0; color: red; font-weight:800;">Мы ничего не меняем в файле buttons.html!</p>
                    <p style="margin: 10px;" style="text-align: center; margin: 15px 0; color: red; font-weight:800;">Если вам требуется добавить margin к button, то попробуйте воспользоваться другими методами. !!!КЛАССЫ КНОПОК НЕ МЕНЯТЬ!!!</p>
                    <p style="margin: 10px;" style="text-align: center; margin: 15px 0; color: red; font-weight:800;">Сергей напишет JS-скрипт для работы кнопок, чтобы они работали так, как должны.</p>
                    <div class="button__title" style="padding-top: 30px;">

                        
                        <p style="margin: 10px;">Выбрать другой 212*52 Нет состояния Disabled</p>
                        <!-- Выбрать другой 212*52 Нет состояния Disabled -->
                        <button form="#" class="btn__cha" id="#" type="submit" formtarget=" _self">
                            Выбрать другой
                        </button>

                        
                        <p style="margin: 10px;">Выбрать другой 138*40 Нет состояния Disabled</p>
                        <!-- Выбрать другой 138*40 Нет состояния Disabled  -->
                        <button form="#" class="btn__cha-s" id="#" type="submit" formtarget=" _self">
                            Выбрать другой
                        </button>

                        
                        <p style="margin: 10px;">Принять 134*52 Нет состояния Disabled</p>
                        <!-- Принять 134*52 Нет состояния Disabled  -->
                        <button form="#" class="btn__accept" id="#" type="submit" formtarget=" _self">
                            Принять
                        </button>

                        
                        <p style="margin: 10px;">Принять 114*40 Нет состояния Disabled</p>
                        <!-- Принять 114*40 Нет состояния Disabled  -->
                        <button form="#" class="btn__accept-s" id="#" type="submit" formtarget=" _self">
                            Принять
                        </button>

                        
                        <p style="margin: 10px;">Да, всё верно 175*52 Нет состояния Disabled</p>
                        <!-- Да, всё верно 175*52 Нет состояния Disabled -->
                        <button form="#" class="btn__yes-right" id="#" type="submit" formtarget=" _self">
                            Да, всё верно
                        </button>

                        
                        <p style="margin: 10px;">Да, всё верно 114*40 Нет состояния Disabled</p>
                        <!-- Да, всё верно 114*40 Нет состояния Disabled -->
                        <button form="#" class="btn__yes-right-s" id="#" type="submit" formtarget=" _self">
                            Да, всё верно
                        </button>

                        
                        <p style="margin: 10px;">Сбросить 158*52 Нет состояния Disabled</p>
                        <!-- Сбросить 158*52 Нет состояния Disabled -->
                        <button form="#" class="btn__th-off" id="#" type="reset" formtarget=" _self">
                            Сбросить
                        </button>

                        
                        <p style="margin: 10px;">Сбросить 138*40 Нет состояния Disabled</p>
                        <!-- Сбросить 138*40 Нет состояния Disabled-->
                        <button form="#" class="btn__th-off-s" id="#" type="reset" formtarget=" _self">
                            Сбросить
                        </button>

                        
                        <p style="margin: 10px;">Отправить данные на верификацию 358*52  По умолчанию в сотоянии Disabled Пока не заполнены поля</p>
                        <!-- Отправить данные на верификацию 358*52  По умолчанию в сотоянии Disabled Пока не заполнены поля  -->
                        <button form="#" disabled="disabled" class="btn__sdv" id="#" type="submit" formtarget=" _self">
                            Отправить данные на верификацию
                        </button>

                        
                        <p style="margin: 10px;">Отправить данные на верификацию 328*52 По умолчанию в сотоянии Disabled Пока не заполнены поля</p>
                        <!-- Отправить данные на верификацию 328*52 По умолчанию в сотоянии Disabled Пока не заполнены поля -->
                        <button form="#" disabled="disabled" class="btn__sdv-m" id="#" type="submit" formtarget=" _self">
                            Отправить данные на верификацию
                        </button>

                        
                        <p style="margin: 10px;">Отправить данные на верификацию 250*40 В сотоянии Disabled Пока не заполнены поля</p>
                        <!-- Отправить данные на верификацию 250*40 В сотоянии Disabled Пока не заполнены поля -->
                        <button form="#" disabled="disabled" class="btn__sdv-s" id="#" type="submit" formtarget=" _self">
                            Отправить данные на верификацию
                        </button>
                        
                        
                        <p style="margin: 10px;">Данные отправлены на верификацию 373*52 Переходит в сотояние Disabled после отправки данных</p>
                        <!-- Данные отправлены на верификацию 373*52 Переходит в сотояние Disabled после отправки данных -->
                        <button form="#" disabled="disabled" class="btn__dsv" id="#" type="submit" formtarget=" _self">
                            Данные отправлены на верификацию
                        </button>

                        
                        <p style="margin: 10px;">Кнопка Данные отправлены на верификацию 328*52 Переходит в сотояние Disabled после отправки данны</p>
                        <!-- Данные отправлены на верификацию 328*52 Переходит в сотояние Disabled после отправки данны -->
                        <button form="#" disabled="disabled" class="btn__dsv-m" id="#" type="submit" formtarget=" _self">
                            Данные отправлены на верификацию
                        </button>

                        
                        <p style="margin: 10px;">Данные отправлены на верификацию 250*40 Переходит в сотояние Disabled после отправки данных</p>
                        <!-- Данные отправлены на верификацию 250*40 Переходит в сотояние Disabled после отправки данных -->
                        <button form="#" disabled="disabled" class="btn__dsv-s" id="#" type="submit" formtarget=" _self">
                            Данные отправлены на верификацию
                        </button>

                        
                        <p style="margin: 10px;">Сохранить 151*52  По умолчанию в сотоянии Disabled Пока не заполнены поля</p>
                        <!-- Сохранить 151*52  По умолчанию в сотоянии Disabled Пока не заполнены поля -->
                        <button form="#" disabled="disabled" class="btn__save" id="#" type="submit" formtarget=" _self">
                            Сохранить
                        </button>

                        
                        <p style="margin: 10px;">Сохранить 114*40 По умолчанию в сотоянии Disabled Пока не заполнены поля</p>
                        <!-- Сохранить 114*40 По умолчанию в сотоянии Disabled Пока не заполнены поля -->
                        <button form="#" disabled="disabled" class="btn__save-s" id="#" type="submit" formtarget=" _self">
                            Сохранить
                        </button>

                        
                        <!-- Настрой профиля: Моя страница: Кратко о себе -->
                        <p style="margin: 10px;" style="margin: 10px;">Настрой профиля: Моя страница: Кратко о себе about-me.css</p>
                        <p style="margin: 10px;">Сохранить 151*52 В сотоянии Disabled Пока не заполнены поля</p>
                        <label for="about-me_save">Кратко о себе</label>
                        <input class="btn__save" form="about" id="about-me_save" type="submit" name="about-me_save" formtarget="#" value="Сохранить">


                        <!-- Настрой профиля: Моя страница: Мои фото -->
                        <p style="margin: 10px;">Настрой профиля: Моя страница: Мои фото my-photo.css</p>
                        <p style="margin: 10px;">Сохранить 151*52 В сотоянии Disabled Пока не заполнены поля</p>
                        <label for="my_photo_save">Сохранить</label>
                        <input class="btn__save" form="my_photo" id="my_photo_save" type="submit" name="my_photo_save" formtarget="#" value="Сохранить">
                            

                        <p style="margin: 10px;">Сохранить изменения 244*52 В сотоянии Disabled Пока не заполнены поля</p>
                        <!-- Сохранить изменения 244*52 В сотоянии Disabled Пока не заполнены поля -->
                        <button form="#" disabled="disabled" class="btn__save-ch" id="#" type="submit" formtarget=" _self">
                        Сохранить изменения
                        </button>

                        
                        <p style="margin: 10px;">Сохранить изменения 152*40 В сотоянии Disabled Пока не заполнены поля</p>
                        <!-- Сохранить изменения 152*40 В сотоянии Disabled Пока не заполнены поля -->
                        <button form="#" disabled="disabled" class="btn__save-ch-s" id="#" type="submit" formtarget=" _self">
                        Сохранить изменения
                        </button>

                        
                        <p style="margin: 10px;">Сохранить изменения 244*52 В сотоянии Disabled Пока не заполнены поля</p>
                        <!-- Изменения сохранены 249*52 По умолчанию Disabled  -->
                        <button form="#" disabled="disabled" class="btn__ch-saved" id="#" type="submit" formtarget=" _self">
                        Изменения сохранены
                        </button>

                        
                        <p style="margin: 10px;">Изменения сохранены 158*40 По умолчанию Disabled</p>
                        <!-- Изменения сохранены 158*40 По умолчанию Disabled -->
                        <button form="#" disabled="disabled" class="btn__ch-saved-s" id="#" type="submit" formtarget=" _self">
                        Изменения сохранены
                        </button>

                        
                        <p style="margin: 10px;">Вернуться в личный кабинет 300*52 Нет состояния Disabled</p>
                        <!-- Вернуться в личный кабинет 300*52 Нет состояния Disabled -->
                        <button form="#" class="btn__ba-acc" id="#" type="submit" formtarget=" _self">
                        Вернуться в личный кабинет
                        </button>

                        
                        <p style="margin: 10px;">Вернуться в личный кабинет 194*40 Нет состояния Disabled</p>
                        <!-- Вернуться в личный кабинет 194*40 Нет состояния Disabled -->
                        <button form="#" class="btn__ba-acc-s" id="#" type="submit" formtarget=" _self">
                        Вернуться в личный кабинет
                        </button>

                        
                        <p style="margin: 10px;">Показать ещё 178*52 В сотоянии Disabled Если нечего показывать, что-то не загружено</p>
                        <!-- Показать ещё 178*52 В сотоянии Disabled Если нечего показывать, что-то не загружено -->
                        <button form="#" disabled="disabled" class="btn__show-more" id="#" type="submit" formtarget=" _self">
                        Показать ещё
                        </button>

                        
                        <p style="margin: 10px;">Показать ещё 114*40 В сотоянии Disabled Если нечего показывать, что-то не загружено</p>
                        <!-- Показать ещё 114*40 В сотоянии Disabled Если нечего показывать, что-то не загружено -->
                        <button form="#" disabled="disabled" class="btn__show-more-s" id="#" type="submit" formtarget=" _self">
                        Показать ещё
                        </button>

                        
                        <p style="margin: 10px;">Одобрить 144*52 В сотоянии Disabled Если нечего одобрять</p>
                        <!-- Одобрить 144*52 В сотоянии Disabled Если нечего одобрять -->
                        <button form="#" disabled="disabled" class="btn__approve" id="#" type="submit" formtarget=" _self">
                        Одобрить
                        </button>

                        
                        <p style="margin: 10px;">Одобрить 114*40 В сотоянии Disabled Если нечего одобрять</p>
                        <!-- Одобрить 114*40 В сотоянии Disabled Если нечего одобрять -->
                        <button form="#" disabled="disabled" class="btn__approve-s" id="#" type="submit" formtarget=" _self">
                        Одобрить
                        </button>

                        
                        <p style="margin: 10px;">Подать заявку 184*52 В сотоянии Disabled До определённого момента</p>
                        <!-- Подать заявку 184*52 В сотоянии Disabled До определённого момента -->
                        <button form="#" disabled="disabled" class="btn__submit-application" id="#" type="submit" formtarget=" _self">
                        Подать заявку
                        </button>

                        
                        <p style="margin: 10px;">Подать заявку 114*40 В сотоянии Disabled До определённого момента</p>
                        <!-- Подать заявку 114*40 В сотоянии Disabled До определённого момента -->
                        <button form="#" disabled="disabled" class="btn__submit-application-s" id="#" type="submit" formtarget=" _self">
                        Подать заявку
                        </button>

                        
                        <p style="margin: 10px;">Создать 132*52 В сотоянии Disabled До определённого момента</p>
                        <!-- Создать 132*52 В сотоянии Disabled До определённого момента -->
                        <button form="#" disabled="disabled" class="btn__create" id="#" type="submit" formtarget=" _self">
                        Создать
                        </button>

                        
                        <p style="margin: 10px;">Создать 114*40 В сотоянии Disabled До определённого момента</p>
                        <!-- Создать 114*40 В сотоянии Disabled До определённого момента -->
                        <button form="#" disabled="disabled" class="btn__create-s" id="#" type="submit" formtarget=" _self">
                        Создать
                        </button>

                        
                        <p style="margin: 10px;">Зарегистрироваться 232*52 В сотоянии Disabled Пока не заполнены поля</p>
                        <!-- Зарегистрироваться 232*52 В сотоянии Disabled Пока не заполнены поля -->
                        <button form="#" disabled="disabled" class="btn__register" id="#" type="submit" formtarget=" _self">
                        Зарегистрироваться
                        </button>

                        
                        <p style="margin: 10px;">Зарегистрироваться 114*40 В сотоянии Disabled Пока не заполнены поля</p>
                        <!-- Зарегистрироваться 114*40 В сотоянии Disabled Пока не заполнены поля -->
                        <button form="#" disabled="disabled" class="btn__register-s" id="#" type="submit" formtarget=" _self">
                        Зарегистрироваться
                        </button>

                        
                        <p style="margin: 10px;">Войти 113*52* В сотоянии Disabled Пока не заполнены поля</p>
                        <!-- Войти 113*52* В сотоянии Disabled Пока не заполнены поля -->
                        <button form="#" disabled="disabled" class="btn__enter" id="#" type="submit" formtarget=" _self">
                        Войти
                        </button>

                        
                        <p style="margin: 10px;">Войти 114*40 В сотоянии Disabled Пока не заполнены поля</p>
                        <!-- Войти 114*40 В сотоянии Disabled Пока не заполнены поля -->
                        <button form="#" disabled="disabled" class="btn__enter-s" id="#" type="submit" formtarget=" _self">
                        Войти
                        </button>

                        
                        <p style="margin: 10px;">Редактировать штаб 235*52 Нет сотояния Disabled</p>
                        <!-- Редактировать штаб 235*52 Нет сотояния Disabled -->
                        <button form="#" class="btn__edit-headquarters" id="#" type="submit" formtarget=" _self">
                        Редактировать штаб
                        </button>

                        
                        <p style="margin: 10px;">Редактировать штаб 146*40 Нет сотояния Disabled</p>
                        <!-- Редактировать штаб 146*40 Нет сотояния Disabled -->
                        <button form="#" class="btn__edit-headquarters-s" id="#" type="submit" formtarget=" _self">
                        Редактировать штаб
                        </button>

                        
                        <p style="margin: 10px;">Отклонить 152*52 Нет состояния Disabled</p>
                        <p style="margin: 10px;">Отклонить 114*40 Нет состояния Disabled  @media(max-width: 500px)</p>
                        <!-- Отклонить 152*52 Нет состояния Disabled   -->
                        <button form="#" class="btn__reject" id="#" type="submit" formtarget=" _self">
                            Отклонить
                        </button>

                        <p style="margin: 10px;">Очистить 152*52 Нет состояния Disabled</p>
                        <p style="margin: 10px;">Очистить 114*40 Нет состояния Disabled  @media(max-width: 500px)</p>
                        <!-- Очистить 152*52 Нет состояния Disabled -->
                        <button form="#" class="btn__clear" id="#" type="reset" formtarget=" _self">
                            Очистить
                        </button>
                        
                        <p style="margin: 10px;">Предпросмотр 168*48 Нет состояния Disabled</p>
                        <!-- Предпросмотр 168*48 Нет состояния Disabled  -->
                        <button form="#" class="btn__preview" id="#" type="submit" formtarget=" _self">
                            Предпросмотр
                        </button>

                        <p style="margin: 10px;">Предпросмотр 114*40 Нет состояния Disabled</p>
                        <!-- Предпросмотр 114*40 Нет состояния Disabled -->
                        <button form="#" class="btn__preview-s" id="#" type="submit" formtarget=" _self">
                            Предпросмотр
                        </button>

                        
                        <p style="margin: 10px;">Далее 131*52 Нет состояния Disabled</p>
                        <!-- Далее 131*52 Нет состояния Disabled  -->
                        <button form="#" class="btn__further" id="#" type="submit" formtarget=" _self">
                            Далее
                        </button>

                        
                        <p style="margin: 10px;">Предпросмотр 114*40 Нет состояния Disabled</p>
                        <!-- Далее 114*40 Нет состояния Disabled -->
                        <button form="#" class="btn__further-s" id="#" type="submit" formtarget=" _self">
                            Далее
                        </button>
                        
                        <p style="margin: 10px;">Назад 131*52 Нет состояния Disabled</p>
                        <!-- Назад 131*52 Нет состояния Disabled  -->
                        <button form="#" class="btn__back" id="#" type="submit" formtarget=" _self">
                            Назад
                        </button>
                        
                        <p style="margin: 10px;">Предпросмотр 114*40 Нет состояния Disabled</p>
                        <!-- Далее 114*40 Нет состояния Disabled -->
                        <button form="#" class="btn__back-s" id="#" type="submit" formtarget=" _self">
                            Назад
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
       <!--  <script>
            let form = document.querySelector('form');
            let field = document.querySelector('.field'); 
            let next = document.querySelector('.btn-next'); 
            field.addEventListener('input', function() {
            
             if(field.value != '') next.disabled = false;
           
             else next.disabled = true; 
            });
        </script> -->
<!-- <script>
            buttonDisabled: boolean;

        ngOnInit() {
        this.buttonDisabled = false;
        }
</script> -->
    <!-- <script src="/static/js/user-login.js"></script>  -->
    <!-- Для работы скрипта раскомментируйте строку -->
</body>
</html>